[2019-10-09 05:40] ganeshmahajan1985 opened #1 "Hi, would you please add how to use this in ktor project ?"
Hi this is nice, I am new to ktor.
would you please add how to use this in ktor project ?
like what to include in gradle.build file etc. step by step ?

[2019-10-09 18:52] Wicpar commented on #1
Hi,
You can use it as submodule:

install the submodule:
[code]

declare the folder in `settings.gradle`
[code]

declare the dependency in the main `build.gradle`
[code]

[2019-10-14 02:07] ganeshmahajan1985 commented on #1
Hi @Wicpar ,
I tried this but on building the project it is giving error
`Unresolved references:bind`
On like numbber 17 at OpenAPIGen.kt file
import javax.xml.**bind**.JAXBElement

[2019-10-14 03:33] ganeshmahajan1985 commented on #1
Hi @Wicpar ,

There are two changes i have made in build.gradle file and it is working for me now.
1. Updated kotlin dependency using "apply plugin: 'kotlin'"
2. jvmTarget explicitly to 1.8
[code]

It is woking as expected now.  Thanks

[2019-10-14 03:33] #1 closed

[2019-10-14 06:24] ganeshmahajan1985 opened #2 "This dosen't support routes moduling ?"
This dosen't support routes moduling ?

[2019-10-14 15:36] Wicpar commented on #1
the import was unused, i deleted it,
can you see if you still have to explicitly set the jvm version?

[2019-10-14 15:43] Wicpar commented on #2
Can you give a concrete example of what you mean? A link to the documentation ?

[2019-10-15 11:30] ganeshmahajan1985 commented on #2
Example -
1. Extend the routing using below code

[code]

2. Install
[code]

[2019-10-15 12:27] Wicpar commented on #2
ah yes, i just pushed a modification that allows you to do this:

[code]

[2019-10-17 08:18] ganeshmahajan1985 commented on #2
Thanks! Its working now.

[2019-10-17 08:18] #2 closed

[2019-12-02 22:55] Globegitter opened #4 "Comparison to ktor-swagger"
Hi, I just saw this project and it looks very, very interesting. I am trying to figure out how this project differs to https://github.com/nielsfalk/ktor-swagger

Does this have any features the other one does not have, or is it simply different api, etc?

[2019-12-03 01:01] ganeshmahajan1985 commented on #4
Hi @Globegitter ,

This might not be the exact answer you are looking for. I choose this over nielsfalk's because the project status he mentioned -
"This project is a proof of concept built on a library to support this functionality."

So I thought to give this one a try instead of that.

Couple of times I have raised some issues as well on this and developer is very responsive he helped out me qu

[2019-12-03 07:40] Wicpar commented on #4
Hi,

It actually started with me using ktor-swagger, and being dearly disappointed. All metadata had to be generated per endpoint, with an ugly and encumbering syntax `get<pets>("all".responds(ok<PetsModel>()))` instead of `get<pets, PetsModel>` that you would use here.

I came from the spring framework and it was a shame that that library didn't leverage the annotations system for metadata.
All r

[2019-12-03 07:45] Globegitter commented on #4
Thanks for both of your responses, that has been convincing enough and I will give this here a try now :)

[2019-12-03 09:35] Globegitter opened #5 "sealed class support"
Hey, thanks for this project, so far it looks great but I am running into some limitations with sealed classes. I have a model as follows:

[code]

where-as app is a sealed class and while jackson 2.10.1 recognises that and converts incoming requests perfectly fine in the generated json schema `App` is only displayed as an empty object. Are sealed classes meant to be supported? As far as I can tel

[2019-12-03 10:06] Wicpar commented on #5
indeed you should have a warning in the log `"No public properties found in object $type"`
i can try and add sealed class support right now.

[2019-12-03 10:18] Globegitter commented on #5
@Wicpar Ah yeah, that would be great indeed. I gave it a quick try by adding to `SimpleSchemaRegistrar.kt`:

[code]

and it does now show the classes in the swagger UI. But this was a complete blind stab, so not sure if that makes complete sense and also not sure if that is the best way to display it. So if you could take a look that would be really appreciated.

[2019-12-03 10:28] Wicpar commented on #5
@Globegitter
since sealed classes are a special case for objects, the implementation would actually be replacing:
[code]

it works with the description, but jackson is not able to parse it properly through `call.receive`

This implementation supports circular definitions in the model.

[2019-12-03 10:40] Globegitter commented on #5
Ah yeah, that is already looking much better - thanks. I am not sure I fully understand the comment `but jackson is not able to parse it properly through call.receive` though.

[2019-12-03 10:45] Wicpar commented on #5
Do you simply send object based on a subclass or also want to receive them?
Sending works fine, but receiving throws a jackson exception.

[2019-12-03 10:47] Globegitter commented on #5
I do want to receive them, i.e. this is the request json for a post endpoint. But I have tried this change and at least in my unit test it is working fine with sending the json as a string and me receiving it as the correct object.

[2019-12-03 10:53] Wicpar commented on #5
In my tests:

[code]

does not work when receiving a json request body that is A, B, or C.

[2019-12-03 10:54] Globegitter opened #6 "Multiple responses"
Another thing I just ran into and I am not sure on how to specify, what if my endpoint has different types it can return and multiple response codes?

Top be precise for that endpoint we return `data class ErrorResponse(val message: String)` in cases where we return a 400, 404 and 500 status but not sure how I can define that.

Further when we may return a 201 with en empty response. How can this

[2019-12-03 10:55] Globegitter commented on #5
You would have to add e.g.:

[code]

and then make sure the json contains an extra `@type` field with the name of the class, so e.g. `A`

[2019-12-03 12:59] Wicpar commented on #5
i got it to work with:
[code]

[2019-12-03 13:05] Wicpar commented on #5
i have pushed the modifications.
https://github.com/papsign/Ktor-OpenAPI-Generator/commit/c2b79324146b522042684a050eeb43c41dbf3af2

[2019-12-03 13:05] #5 closed

[2019-12-03 13:09] Wicpar commented on #6
use the throws route selector:

[code]

[2019-12-03 13:28] Globegitter commented on #6
Ah cool, thanks for the examples. The first thing that came to my mind and I tried was again using sealed classes so e.g. having

[code]

but this has some drawbacks in itself and what you just posted is more than sufficient for now thanks.

[2019-12-03 13:28] #6 closed

[2019-12-03 13:31] Globegitter opened #7 "jitpack build broken"
Sorry for opening one issue after another and thanks for being so quick to respond, but here is one more. As I am not always a fan of using git submodules I thought I would give jitpack a try since that has worked for me quite well so far, but for some reason the build for this project is broken, see: https://jitpack.io/#papsign/Ktor-OpenAPI-Generator/c2b7932414 and https://jitpack.io/com/github/p

[2019-12-03 13:32] Wicpar commented on #6
@Request and @Response only work on the reified type you declare, subclasses are not analyzed, and at runtime no reflection occurs.

[2019-12-03 14:16] Wicpar commented on #7
I wanted to add it to jitpack anyway eventually, so it's done now.

[2019-12-03 14:33] #7 closed

[2019-12-03 14:56] Globegitter commented on #6
@Wicpar One more question - how can I provide example for the error responses in the `StatusPages` integration?

[2019-12-03 15:28] Globegitter opened #8 "jwt authentication support"
So, hopefully this will be the last one. In our application we have

[code]

and I would like for routes within the `apiRouting` block to be able to make use of that authentication provider. For normal kotlin routes I can just use the `authenticate` block but that does not seem to exist in `apiRouting`. Is this use-case supported or not?

[2019-12-03 15:51] Wicpar commented on #8
no convenient implementation exists.
you need to implement it yourself by implementing `AuthProvider<PrincipalObject>`
and creating a route selector that registers it:
[code]

there was an implementation with oauth, which would be a good example:
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/b5269bdab0bb40dbb36ec6a2b8f544418601a456/src/main/kotlin/com/papsign/ktor/openapigen/interop/OAuth

[2020-02-25 05:26] sheepdreamofandroids opened #9 "how to implement a repeated request parameter"
I must be missing something completely. My usecase is a simple GET endpoint taking a list of Long ids and returning associated data.
I modelled the input parameter "ids" as
[code]
When calling it with parameters like `?ids=1&ids=2&ids=3` I get this error:
[code]
Why would a request parameter be deserialized from xml or json?

I love this library BTW, it's a very elegant solution!

[2020-02-25 12:58] Wicpar commented on #9
Hi,

Thank you for this issue, i know this would happen eventually.
Currently only primitive types are implemented since i use the jackson parser as a quick fix, there are no standard parsers for the query parameter standards as far as i know, and the query parameter standards are quite wonky as well.
Here is the spec:
https://swagger.io/docs/specification/serialization/
Here is the relevant funct

[2020-02-27 08:06] sheepdreamofandroids commented on #9
Laying traps for unsuspecting developers so you can get PR's of them. Genius!

I'm not exactly bristling with free time myself, but let me look at it.

[2020-02-27 10:51] Wicpar commented on #9
Haha.
I found a library that seems to decode RFC 6570 templates
https://github.com/damnhandy/Handy-URI-Templates/pull/54
I'll see if i can implement it rapidly.

[2020-02-27 11:26] Wicpar commented on #9
OK, Good and bad news...
Query params seem doable, but path params would require an overhaul of the routing and API generation to make ktor happy.
Are query params enough for you for a first update ?

[2020-02-27 11:35] Wicpar commented on #9
Good and bad news...
I can't use the library as is, but i can frankenstein in the proper parsing behavior.

[2020-02-27 11:55] Wicpar commented on #9
After all implementing it from scratch seems a lot faster now.
I think i can get it done by 15:00 GMT+2

[2020-02-27 14:32] sheepdreamofandroids commented on #9
Do you intend to let us specify how parameters have to be encoded? Or will you just accept anything the client throws at you?

[2020-02-27 15:07] Wicpar commented on #9
You will have to specify, defaults being according to the openapi spec, but i will try to make it parse anything you throw at it.
Some collisions are possible, they will be caught during startup.

[2020-02-27 17:34] Wicpar commented on #9
I Have finished implementing the primitives:
implementation 'com.github.papsign:Ktor-OpenAPI-Generator:experimental-parameters-a35e1a0143-1'
i will be adding collections and object support very soon

[2020-02-27 17:45] sheepdreamofandroids commented on #9
Wow, you're on fire!

I'll build your branch and see how that works for my usecase. It's really simple, I just need a list of longs, so that shouldn't be a problem. I'll let you know asap.

[2020-02-27 17:48] Wicpar commented on #9
I am working on the lists and arrays, it's a little trickier than primitives.

[2020-02-27 17:54] sheepdreamofandroids opened #10 "Alternate "syntax" for routing."
Just a wild idea. How about allowing routing like `get("path", ::someMethod)` and the parameters of that method are annotated the same way the fields of parameter classes are now annotated.

That way you don't have to declare a class for just one or two simple parameters and you get a very natural looking routing style.

Also this would be quite familiar to users of springfox.

[2020-02-27 17:56] sheepdreamofandroids commented on #9
Just a brainfart. Shouldn't RFC 6570 be implemented as a format for kotlinx-serialization?

[2020-02-27 17:59] Wicpar commented on #9
nope, ktor doesn't support RFC 6570 parsing, and no library is made to properly parse individual parameters...

[2020-02-27 19:03] Wicpar commented on #9
lists have been added, you can build the latest changes on jitpack

[2020-02-27 19:06] Wicpar commented on #9
objects are next, but i think i will limit the support to data classes in the beginning...
It should not be too complicated to extend afterwards.
Once that is done i'll clean the whole mess.

[2020-02-27 21:43] Wicpar commented on #10
I am open to any useful contributions.
This seems to have its uses, and it would allow for more flexible parameter definitions.
It may even be possible to directly use reflection on a noinline lambda, that would make the syntax basically identical to what we have now except that you can define the types in the lambda parameters. If that is the case i might even favor this system.

[2020-02-28 00:28] Wicpar commented on #9
Deep object support has been added. It does not support empty indices for arrays.
Path param objects and form objects are still missing.
Appropriate errors are thrown on startup if anything is not implemented.

[2020-03-01 16:31] SerVB opened #11 ""Cannot inline bytecode" error in sample"
Hi! I've just copy-pasted the sample and gotten this:

![image](https://user-images.githubusercontent.com/20105593/75629249-59cbdd00-5bf1-11ea-9548-85a74330771f.png)

The solution has been to update my `build.gradle` specifying `jvmTarget` explicitly: <https://stackoverflow.com/a/50991772>.

Actually, I've never had such an issue with other libs. Maybe there is a way to change the build script or

[2020-03-01 20:02] SerVB opened #12 "Setting up "Models" section"
Hi! Is there an opportunity to change the "Models" section?

Currently, I have the following one (on [this](https://github.com/SerVB/e-shop/tree/2d72578bcae272d0f1119db86b0bca1e725d4d17) commit):

![image](https://user-images.githubusercontent.com/20105593/75632797-bdb1ce00-5c10-11ea-9085-33e4c7a875fa.png)

I'm not an experienced Swagger user but I think the issues are:
1. The `T` model should not

[2020-03-02 07:23] Wicpar commented on #11
Hi, you have two options:
Change your jvm target to 1.8
Change the library's jvm target to 1.6 and rebuild
You can do it in their respective `build.gradle` file

[2020-03-02 07:29] Wicpar commented on #12
Hi, Generics classes are unsupported.
Reflection is used during initialization, and generic types are erased. See JVM type erasure. This is one of the biggest caveats of JVM languages...
One way around it is to wrap your generic types like this:

[code]
This should allow the reflection to find the appropriate types.

[2020-03-02 07:33] Wicpar commented on #12
As for the nulls, the library currently relies on ktor to serialize the model into json. The `mapper.setSerializationInclusion(Include.NON_NULL)` should be activated for Jackson.

[2020-03-02 07:35] Wicpar commented on #12
Although thinking about it, the KType information seems to have the generic information... Maybe there is a way to handle it.

[2020-03-02 07:47] Wicpar commented on #12
Also, there is a hook in the configuration that allows you to properly rename the classes to be digestible by the standard.

[2020-03-02 08:55] SerVB commented on #11
Is there any reason why this library doesn't contain jvm target 1.6 out-of-the-box?

[2020-03-02 10:48] Wicpar commented on #11
no particular reason beyond convention.
If you want a quick fix, you can fork it, change it and get your build on jitpack.
You can also do a pull request.
I'll change it myself when i merge the new parameter branch

[2020-03-02 11:50] sheepdreamofandroids commented on #9
Hi, I've been trying to use your branch but it's not yet working for me.
Firstly I think you need a 'maven' or 'maven-publish' plugin in gradle to actually generate a pom. The jitpack artifact is only a jar without transitive dependencies. I'm not good with gradle so I'm not sure that is how to fix it.
After adding those dependencies manually (reflections and swagger.js) I get a swagger interface,

[2020-03-02 11:52] sheepdreamofandroids commented on #10
I want to look into this. A quick look revealed that it will probably touch some of the same files as you are working on now for parameters. I'll see how far I can get without getting in too much of a merge conflict. Or maybe I'll just work off of your branch and keep up to date. Are you planning on merging that one soon?

[2020-03-02 13:04] Wicpar commented on #10
You should be able to do this without interfering with the current work.
Look at the `handle` and `preHandle` functions that do the conversion logic for the current functions.
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/master/src/main/kotlin/com/papsign/ktor/openapigen/route/OpenAPIRoute.kt
You will probably need to create a function that takes a `KFunction<Unit>`, and then use reflect

[2020-03-02 13:15] Wicpar commented on #9
If the main library works the test branch should work as well...
I'm not quite sure how jitpack works but i am able to use it without declaring those other dependencies.
here is the config:
[code]

[2020-03-04 04:44] sheepdreamofandroids commented on #10
All that is already there. The only difference between the current syntax and the proposed one is that currently a KFunction (the primary constructor) is called to create a model and then a lambda is called to process it while in the new one, the first KFunction also does the processing.
So I think this can be a quite superficial change where simply the execution of the last lambda is skipped and

[2020-03-04 10:06] Wicpar commented on #10
I'll see what you come up with.

[2020-03-04 14:38] Wicpar commented on #9
@sheepdreamofandroids It's over, it's done...
The code is now up to spec and in a clean and maintainable state.
I am merging the branch soon after integration testing.

[2020-03-04 15:04] Wicpar commented on #9
I have merged the changes into master and made a release.

[2020-03-04 15:04] #9 closed

[2020-03-04 15:04] Wicpar commented on #11
I have merged the changes into master and made a release.

[2020-03-04 15:06] Wicpar commented on #12
@SerVB I changed the model acquisition system in the new release. Please verify if your issue persists or not.

[2020-03-10 09:20] sheepdreamofandroids commented on #9
I'm trying to use this in my own project and it just doesn't work.
At the same time I created a testcase within your project which works flawlessly.
I've not been able to figure out exactly what is the difference. Mostly because I've been in meetings way more than programming.
Just to let you know why I didn't react yet.

[2020-03-10 10:58] Wicpar commented on #9
Alright.
On my side we successfully updated the dependency simply by setting the version to the new release in the project configuration.
Make sure you are also up to date with the kotlin plugin.

[2020-03-10 13:53] Wicpar commented on #12
https://github.com/papsign/Ktor-OpenAPI-Generator/releases/tag/0.1-beta.1

Fixed. Marking as closed.

[2020-03-10 13:53] #12 closed

[2020-03-10 16:14] Wicpar commented on #10
@sheepdreamofandroids
so i tinkered around and came up wth this syntax:
[code]

So it is possible to annotate properties directly in the lambda.
No vararg type parameters yet sadly

Theoretical syntax could be:
[code]
this would use:
- Default object handler, generating a response from the return type
- Per endpoint generated param: id
- Reusable paged parameters, declared like:
[code]
(please not

[2020-03-11 13:46] Wicpar commented on #10
I have pondered further on the question. I think it would be beneficial to completely change the system to this. It would drastically change the structure of the library and won't be backwards compatible. The benefits would be huge, as an injection based system will allow for greater modularity and flexibility as compared to the current system.

I estimate the workload to be about two office weeks

[2020-03-11 14:04] sheepdreamofandroids commented on #10
I love it. Much easier on the eye than the current way that forces you to create a data class for each parameter list.

I think you would even be able to directly use a method reference. Like
[code]
This way all the info about the syntax of the endpoint is in the routing and all the reusable meaning in the method.

[2020-03-11 16:31] Wicpar commented on #10
alright, let's do this.
Just one note, i will keep @PathParam, @QueryParam, @HeaderParam, @CookieParam separate as it is not possible (i.e. a lot more work, confusion and less reliability) to build the correct OpenAPI descriptor without this distinction. It will be possible to add such a handler nevertheless.

[2020-03-12 05:26] sheepdreamofandroids commented on #10
Yeah, I see how putting that info in the path string is suboptimal.
Yet I think that the idea of keeping the location of parameters in the route and type, documentation and default values in the method is sound.
I'll try to come up with a better way of expressing that info.

[2020-03-13 14:09] SerVB commented on #12
@Wicpar, thank you! I see many changes, for example, `T` and `kotlin.collections.List` have disappeared.

However, there are things that I still don't understand:

3) `minimum: null/maximum: null` for `string` and `boolean` seem redundant.

If I do `mapper.setSerializationInclusion(Include.NON_NULL)`, these redundant lines disappear but it's not a solution, because also my server stops sending fie

[2020-03-13 14:31] Wicpar commented on #12
these are separate issues...
Currently the model is made with data classes and serialised from it. I'll have to change the whole model system to make it work like that. This can be quick fixed with a separate object mapper that serialises it to string in the openapi.json endpoint.
Also, currently there are no @min @max annotations. Though it can be added quite rapidly iirc.

[2020-03-13 14:34] Wicpar opened #14 "Missing @Min and @Max annotations"
Putting this in a separate issue from #12

`@Min` and `@Max` annotations are missing.

[2020-03-13 14:44] Wicpar commented on #14
This issue might take a while, no system currently exists for validators to edit the model.
The whole thing has to be redone.

[2020-03-13 14:47] SerVB opened #15 "Models: `minimum: null/maximum: null` for `string` and `boolean` seem redundant"
In the models section, there are redundant fields:

![image](https://user-images.githubusercontent.com/20105593/76630756-9da7d600-6551-11ea-9e55-4c7c8b8a9b0a.png)

Current workaround is activating `mapper.setSerializationInclusion(Include.NON_NULL)` for Jackson.

However, it changes the way the server answers, so it's not a solution in some cases.

I think the solution can be just to omit generati

[2020-03-13 14:47] SerVB opened #16 "Missing @Example annotation"
In the models section, there is a field called "example". Currently it is equal to `null` for all fields in all classes:

![image](https://user-images.githubusercontent.com/20105593/76630777-a7313e00-6551-11ea-9222-1b9732de2c0b.png)

There should be a way to specify this field. Also, I think if the field is not specified, it shouldn't be presented in the models section.

This is an issue extracted

[2020-03-13 16:17] Wicpar commented on #16
you can specify it per request like this:
[code]

No  mechanism exists yet to provide examples per model globally.

[2020-03-13 16:29] Wicpar commented on #15
made appropriate modifications in the rewoked-model branch.

`implementation 'com.github.papsign:Ktor-OpenAPI-Generator:reworked-model-SNAPSHOT'`

It will be merged into master when it is determined as clean and maintainable.

[2020-03-13 16:29] #15 closed

[2020-03-13 16:36] SerVB commented on #16
Yeah, I use examples for methods. I'm not an experienced user of OpenAPI, so I don't know if examples of fields are also usually defined...

If yes, I want an opportunity to define them.

If no, just remove these "example" fields.

[2020-03-13 16:39] Wicpar commented on #16
i will add such a mechanism as it is part of the standard.
until then you can use the new branch with the reworked models. null fields are now filtered when you use `OpenAPIModel.build()`
it will generate the appropriate hashmaps and remove empty and null values

[2020-03-14 08:24] SerVB commented on #15
Yep, this works! A small concern here that `.build()` is executed every time the request is performed. Maybe it's better to use a lazy property to store the built schema.

[2020-03-14 09:24] SerVB opened #17 "Feature: allow to provide multiple examples of responces"
For example, I have the following endpoint:

[code]

I want to specify different examples, for example, with different status codes. So maybe `example` should be renamed to `examples` and receive an iterable. Possible usage:

[code]

The same for other methods (and parameters like `exampleResponse`).

[2020-03-14 09:38] SerVB opened #18 "Feature: allow to name namespace"
Namespace can have a name and a description (for example, `api - Default namespace`):

![image](https://user-images.githubusercontent.com/20105593/76679291-6a685400-65f0-11ea-8381-c8b5047a01a4.png)

However, in `Ktor-OpenAPI-Generator`, I have only `default` and I have no idea if this is possible to change now:

![image](https://user-images.githubusercontent.com/20105593/76679320-a26f9700-65f0-11e

[2020-03-14 09:39] SerVB commented on #17
The result will be like this:
![image](https://user-images.githubusercontent.com/20105593/76679352-e06cbb00-65f0-11ea-8eda-6e573f123b83.png)

[2020-03-14 16:43] Wicpar commented on #15
It is possible, in principle, to create new routes during runtime, so the model can in principle change. This is up to the user.

[2020-03-14 16:45] Wicpar commented on #18
Tags are what you are looking for.
There is an example here: https://github.com/papsign/Ktor-OpenAPI-Generator/blob/master/src/test/kotlin/TestServer.kt

[2020-03-14 16:45] #18 closed

[2020-03-14 17:15] Wicpar commented on #17
The planned behavior for different responses was to use exception handlers for non 200 codes.
[code]
There was no example provided for exceptions in the current version, the changes are made on the reworked-model branch, where you can specify one example per response code. (make sure you got jitpack to build the latest snapshot)

Multiple responses on one response code are outside a reasonable wor

[2020-03-14 17:15] #17 closed

[2020-03-14 20:58] SerVB opened #19 ""throws" section is not intuitive"
Continuing #17.

I've just tried it (using 0d4f589ea49e91f98f8c981d4c011f43578b7796 revision) and I've come up with the following:

<details>
<summary>Normal version</summary>

[code]
</details>

<details>
<summary>"Throws" version</summary>

[code]
</details>

The usability problems I see:
1. The generated exceptional response example doesn't match my `NOT_OK` (which is `false`):

<details>
<summ

[2020-03-14 21:56] Wicpar commented on #19
- Agreed that example should be returned if the generator is not specified, it should have been like this from the start. No need to create a different catch block.
- I do not understand what you mean with 1. , is the generated model using the wrong example?
- The gen function is there to allow for a more complex transform of the exception, In our production code we handle all errors with an error

[2020-03-14 21:56] #19 closed

[2020-03-14 22:23] SerVB commented on #19
Thanks, will answer tomorrow!

Actually, "reopen" button seems to be invisible for me. Maybe a status like "Collaborator" is required. So I will just write here the results 😉

![image](https://user-images.githubusercontent.com/20105593/76691397-70474f00-665b-11ea-8238-2761b216e496.png)

[2020-03-14 23:45] Wicpar commented on #19
Alright, i'll reopen it if necessary

[2020-03-15 12:14] SerVB commented on #19
Checked aeacf5158cea61773b898386fdbae0b17031bf69. It's much better!

Yeah, the example is not that I've specified.

So why are bad requests silently made good ones?

[2020-03-15 13:58] Wicpar commented on #19
Oh right...
That is jackson doing its magic with non nullable (primitive) fields. You can specify that it should fail with a jackson flag i think.

[2020-03-15 16:03] SerVB commented on #19
My code is available here: <https://github.com/SerVB/e-shop/tree/task-01>.

But it doesn't do that magic without `throws` block: it fails.

[2020-03-15 17:54] Wicpar commented on #19
I just tested with your code, the throw clause really doesn't change parsing behavior...
Default jackson configuration really does parse null and missing values to 0 on ints.

[2020-03-16 20:28] Wicpar commented on #14
https://github.com/papsign/Ktor-OpenAPI-Generator/tree/reworked-model
modification are up and tested on the branch.

[2020-03-16 20:28] #14 closed

[2020-03-17 00:20] Wicpar commented on #16
Added `@WithExample` in the latest commit.
SwagerUI doesn't handle it properly anyway.
[code]
or
[code]

[2020-03-17 00:20] #16 closed

[2020-03-17 00:30] Wicpar commented on #16
`implementation 'com.github.papsign:Ktor-OpenAPI-Generator:0.2-beta.0-experimental'`

[2020-03-17 00:31] Wicpar commented on #14
`implementation 'com.github.papsign:Ktor-OpenAPI-Generator:0.2-beta.0-experimental'`

[2020-03-18 07:33] sheepdreamofandroids commented on #9
Hi, I had weird effects. First everything worked as expected _except_ for the array parameter and the fact that I couldn't debug my project in Intellij, it would freeze completely.
Now I just upgraded to the latest kotlin plugin (1.3.70) and did the same with the ktor dependency (1.3.2) and now nothing really works anymore.
I'm assuming that is because of the different ktor versions. Is there a pa

[2020-03-18 11:05] Wicpar commented on #9
No reason the ktor version is not updated.
Try to use the release version as dependencies, snapshots might break regularly.
I'll update the ktor version asap.

[2020-03-19 03:11] Wicpar commented on #9
updated version. https://github.com/papsign/Ktor-OpenAPI-Generator/releases/tag/0.1-beta.2

[2020-03-19 21:02] SerVB commented on #19
Hmm, can reproduce 500 error anymore... It really does insert 0 instead of absent key-values. Sorry...

However, there is one more issue mentioned:

Yes, it's wrong:

![image](https://user-images.githubusercontent.com/20105593/77114543-bc203c80-6a3d-11ea-8b9a-d04db47d02e2.png)

It can be reproduced here: https://github.com/SerVB/e-shop/tree/a71b923d270c500ed68a6c9663f51a4b5af608bc . For a bad POST

[2020-03-20 03:58] Wicpar commented on #19
I indeed messed up, i missed a processing step that aggregated the information of multiple throw clauses:
fixed in 0.2-beta.1-experimental

[2020-03-21 06:29] sheepdreamofandroids commented on #9
Thanks so much for the help. Now it works.
The real culprit though was the fact that we are using gson for JSON serialization instead of jackson.

[2020-03-21 13:17] SerVB opened #21 "Testing of POST method does not work"
Hi!

In <https://github.com/SerVB/e-shop/tree/938d357e4ff2b4e06a557102c65f73773b4d67c3>, I have two similar tests (in `server/src/test/kotlin/io/github/servb/eShop/product/route/singleOperation` dir):

- EShopProductCreateProductTest, which tests POST.
- EShopProductReturnProductTest, which tests GET.

When I run tests, I get the following:

![image](https://user-images.githubusercontent.com/20105

[2020-03-22 17:03] SerVB commented on #21
I've just fixed it: <https://github.com/SerVB/e-shop/commit/7800c1142952f07feead16cf3d354c2680d3c579>! The problem is that I haven't added "content type" header.

So I'm closing the issue.

[2020-03-22 17:03] #21 closed

[2020-03-26 22:08] SerVB opened #22 "Status code in "throws" block variant"
Hi! I have the following code:

![image](https://user-images.githubusercontent.com/20105593/77701313-09b12200-6fc7-11ea-9919-d5ef419243d9.png)

As you see, status code is duplicated. So I don't understand which has a higher priority...

Can I omit this duplication?

[2020-03-27 00:08] SerVB opened #23 "Can't respond with custom status dynamically"
Hi! I don't understand how to respond with a custom status code, for example, 404, depending on the situation.

I try the following: I declare an interface and set it as a response type. Then I create some children of the interface with specified status codes. Example:

[code]

I want to see 404, but it's 200:

![image](https://user-images.githubusercontent.com/20105593/77707905-9e238080-6fd7-11ea

[2020-03-27 12:37] Wicpar commented on #22
`@Response` is only used with the response `get<Param, Response> {}` of the request, not the exception.

[2020-03-27 12:44] Wicpar commented on #23
`@Response` is resolved during initialisation (No reflection during runtime in this library) on the generic type you specify in the generic parameters. Here it is IResponse which is not annotated.
The way to handle this is to respond the goodresponse directly or throw a NotFound exception that you catch with a throw handler on the route that responds 404.

Exceptions are the design choice because

[2020-03-27 20:16] #22 closed

[2020-03-27 20:40] SerVB opened #24 "Description for throws block"
Hi! Is it currently possible to add description text? By default, a status is the description.

![image](https://user-images.githubusercontent.com/20105593/77798524-19db0700-7084-11ea-8d57-e29bb6575f6b.png)

[2020-03-27 20:57] Wicpar commented on #24
Until i can find something more elegant you can use `HttpStatusCode(400, "The description you want")`

[2020-03-27 21:11] SerVB commented on #24
Great, thank you, it works!

[2020-03-27 21:17] SerVB opened #25 "Hardcoding statusCode is Response annotation"
I don't find any `Int` constants, so currently I suppose hardcoding like `404` is required.

And if somebody reworks `Response` annotation so it accepts `HttpStatusCode` instead of `Int`, it will be a duplicated description (`Response.description` and `Response.statusCode.description`). There is another solution I see: leave only a single parameter in the `Response` of `HttpStatusCode` type but it

[2020-03-27 21:49] Wicpar commented on #25
You cannot have normal classes in Annotations class parameters, i would have done that if it was possible...
Only primitives, enums and other annotation classes are allowed.

`HttpStatusCode` is a data class from Ktor, you can do this:
[code]
and even
[code]

As for making the `@Response` annotation work for the throw handler it is a possibility, but the current usage we have reuses the same respo

[2020-03-27 21:49] #25 closed

[2020-03-27 21:49] #24 closed

[2020-03-27 21:49] #23 closed

[2020-03-27 22:09] SerVB opened #26 "Empty list doesn't contain element at index 0"
Sometimes when I run tests, I get the following exception for all tests:

<details>
<summary>Stacktrace</summary>

[code]

</details>

Could you investigate?

[2020-03-27 22:19] SerVB commented on #26
And if I change jackson to gson, I can't even run my app:

<details>
<summary>Stacktrace</summary>

[code]

</details>

[2020-03-27 22:24] Wicpar commented on #26
The issue is that there is a map type that apparently has no map parameters...
I didn't think this could happen...

[2020-03-27 22:24] Wicpar commented on #26
can you provide sample code that does this error ?

[2020-03-27 22:31] Wicpar commented on #26
Oh, Right... Do you have a class that extends the `Map<K, V>` Interface ?

[2020-03-27 22:35] SerVB commented on #26
Sure.

This is the revision: https://github.com/SerVB/e-shop/tree/4db3eda7e80a3e249d2254b3bd190c3c03df3cce .

Sometimes when running `./gradlew check` all tests fail (in normal case some of them pass 😀 – I'm doing TDD and haven't implemented everything yet).

If you want 100% fail (as in the second stacktrace), please apply this patch:

[code]

Then running with set env `io.github.servb.eShop.forc

[2020-03-27 22:50] SerVB commented on #26
By the way, if I do `gson { serializeNulls() }`, it doesn't fail.

[2020-03-28 19:50] SerVB commented on #26
The issue still blinks. I have about 50% of launches failing (do you have any idea why not always?). I've just done a small investigation: I've put a breakpoint at the failing place:

https://github.com/papsign/Ktor-OpenAPI-Generator/blob/a02ba299ee67c613847ad4529221b7a1a2fe73ad/src/main/kotlin/com/papsign/ktor/openapigen/schema/builder/provider/DefaultMapSchemaProvider.kt#L22

The problematic typ

[2020-03-28 21:03] Wicpar commented on #26
That is it... it is odd that nothing is matched to a map type... I use the kotlin reflection `isSubType` function. Remove all the Nothings and use `Unit` instead, it should work.

[2020-03-28 22:39] SerVB commented on #26
Oh, I think I've hacked it!

`Nothing?` type is a subtype of any nullable type so it's mapped to the first map entry:

https://github.com/papsign/Ktor-OpenAPI-Generator/blob/a02ba299ee67c613847ad4529221b7a1a2fe73ad/src/main/kotlin/com/papsign/ktor/openapigen/schema/builder/provider/FinalSchemaBuilderProvider.kt#L68

And tests blink because an order in the map can be random so sometimes it goes lik

[2020-03-28 23:38] Wicpar commented on #26
The SchemaProvider works by using a Treeset with a comparator on IsSubtype. Registering a SchemaProvider for `Nothing` should solve this, as it will be a subtype of everything, thus handled first.

[2020-03-28 23:52] Wicpar commented on #26
I have pushed the appropriate modifications to the `reworked-model` branch, it should work in theory.

[2020-03-29 16:18] Wicpar commented on #26
Tell me if it properly works now, i will make a pre-release and close the issue.

[2020-03-29 21:20] SerVB commented on #26
It works.

[2020-03-29 21:20] #26 closed

[2020-03-30 20:41] SerVB opened #28 "Can't catch errors of path params"
When I do http://localhost:8080/my/dassda , I want to see a bad request, but I get `I received 0`. Revision I use is be025c92. Is there a way to handle bad params?

[code]

[2020-03-30 20:59] Wicpar commented on #28
Due to the lack of a proper way to handle errors generated by the library i preferred going the default value route of handling bad values.
Currently you have to declare it nullable and check for null to throw the appropriate error.

I am still unsure what would be a good way to handle the exceptions, but just throwing the exceptions is unacceptable. Maybe a route module that has a function to gen

[2020-03-30 21:04] SerVB commented on #28
So I should do something like the following?

[code]

Okay...

[2020-03-30 21:06] SerVB commented on #28
So I should do something like the following?

[code]

Okay...

[2020-03-30 21:15] Wicpar commented on #28
More like:

[code]
On a small scale it may seem easier to just throw a bad request but on bigger codebases, with a more compmex error ecosystem you can't get away with only one handler. You want to generate error codes and payloads with relevant data so you can handle them properly in the front end without massive lookup tables that can break easily.

For now the nullable approach guarantees that

[2020-03-30 22:17] Wicpar opened #29 "Proper handling of library enerated errors"
Creating this because of #28
Currently there is no system to handle errors that occurred during runtime with this library. Instead i opted to use default values when parsing fails as it has best risk/effort ratio of the low effort options.

But now comes the time to implement it properly.

What it should do:
- Have a default behaviour that is expected by the user
- A standard format used by the li

[2020-03-30 22:17] Wicpar commented on #28
Redirecting to #29

[2020-03-30 22:17] #28 closed

[2020-03-30 22:26] Wicpar commented on #29
I am open to suggestions.

The basic idea would be like this:

[code]

Ideally there would be hints as to what the value should be beyond just the type, like if it is annotated by `@Min` and `@Max` it should reflect that if possible. But i haven't thought that through yet.

[2020-03-31 11:02] SerVB opened #30 "How to auth"
It seems that the info in https://github.com/papsign/Ktor-OpenAPI-Generator/issues/8#issuecomment-561229340 is irrelevant: classes and functions are missing...

I want to make my own OAuth service to be used by the main service to verify requests.

[2020-03-31 12:06] Wicpar commented on #30
Hi, i can pre-release a full OAuth server implementation i have been working on. It is not exactly maintainable enough to be production ready, but it is spec compliant. No resource server Library exists for ktor currently, only the client lib provided by ktor and the auth library provided my myndocs.

The scope of this library is only to  provide a connector, the auth provider, to create the appro

[2020-03-31 12:09] SerVB commented on #30
Oh, thank you, that will be great. Can I have a look?

[2020-03-31 12:17] Wicpar commented on #30
i got to separate the codebase from the main project first, it may take a few hours.

[2020-03-31 12:56] Wicpar commented on #30
https://github.com/papsign/KtorOAuthServer/tree/master
Example usage coming soon.

[2020-03-31 14:16] SerVB opened #31 "Support parameters from headers"
It seems that header parameters can be supported: <https://rajeevdotnet.blogspot.com/2018/03/swagger-ui-how-to-add-custom-header.html>.

[2020-03-31 14:51] Wicpar commented on #30
https://github.com/papsign/KtorOAuthServer/tree/master/src/test/kotlin/com/papsign/oauth2/example
You need to implement the same functionality yourself, and preferably with database access.
If you use Exposed, you may need to implement the `requestWrapper` parameters with a database transaction
You have to register: The auth server with: `Application.registerTestAuth()`
And to handle the resource

[2020-04-01 14:46] SerVB commented on #31
Merged – okay then :)

[2020-04-01 14:46] #31 closed

[2020-04-01 15:49] Wicpar commented on #30
have you got it to work ?

[2020-04-01 16:28] SerVB commented on #30
I haven't looked at it well; I'm planning to do it. However, at the first glance, it's easier for me to write my own auth server...

[2020-04-01 16:57] Wicpar commented on #30
The OAuth2 spec is a real mess, the configuration you need here is simply to set up the persistence and login validation. Most of the work is done, the only thing missing is a reusable and modular login tunnel system, which is not part of the OAuth2 spec.
If you want to avoid too much work i recommend using a simpler system like JWT authentication. [OAuth2](https://tools.ietf.org/html/rfc6749) is

[2020-04-01 18:15] SerVB commented on #30
Thank you, I'm not sure now that I want the same thing. I want just a simple server to generate access and refresh tokens. So maybe it won't be OAuth2-compliant...

I think I'll write my own server using this time, sorry.

[2020-04-01 19:24] Wicpar commented on #30
Alright, JWT is usually the easiest way to handle the state of the session because you don't need an underlying persistence layer, and a lot of libraries already exist. You can then require the token in the API requests and use the default ktor authentication system for that, it even is supported by swagger UI.

[2020-04-05 14:35] mintu19 opened #33 "Multipart Example"
I am trying to create route to receive upload file to server but not able to find a way to implement it. I have seen multipart content provider in code but not sure how to use it.

How to write post data server code for multipart something like this:
https://ktor.io/servers/uploads.html

[2020-04-06 10:39] Wicpar commented on #33
Hi, It is natively supported by the library, example:
[code]
It has not been tested yet on the experimental branch, but it should work, if it doesn't please create an issue.

[2020-04-06 10:39] #33 closed

[2020-04-07 11:00] SerVB commented on #28
I've just understood that if I declare such a field as nullable, it will be shown as nullable in Swagger. So I need to add some extra text like "if you pass nullable or incorrect value, 400 will be returned". So it's not good working workaround...

[2020-04-07 11:51] Wicpar commented on #28
You can replace the primitive default values with a ParsingError throw in
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/reworked-model/src/main/kotlin/com/papsign/ktor/openapigen/parameters/parsers/converters/primitive/PrimitiveConverter.kt
I can't work on it today as i am on a consulting mission.

[2020-04-07 11:53] Wicpar commented on #28
You could also create a processor like this to remove the nullable and throw your custom error:
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/reworked-model/src/main/kotlin/com/papsign/ktor/openapigen/annotations/type/number/integer/min/MinProcessor.kt

[2020-04-11 12:56] mintu19 opened #34 "Custom auth on route"
I am trying to do custom token based authentication on whole route but using ktor authentication is not working. How to add authentication method for openapi?

[code]

[2020-04-11 14:43] Wicpar commented on #34
It is not possible to get Ktor information on the authentication, you would need to implement the interface yourself to provide the information, here are previous related issues for details:
OAuth: #30
JWT: #8

[2020-04-11 15:04] mintu19 commented on #34
I have checked above issues but not able to understand how to implement it for my custom auth provider (it is like digest) and how to use it with routes inside apiRouting. That is to use it with all routes individually or can use it like above?

[2020-04-12 09:59] Wicpar commented on #34
To use it like you want up there you would:
1. Implement the auth handler:
[code]
2. Define a helper function to implement it on your route
[code]
3. use it
[code]

[2020-04-15 21:24] mintu19 commented on #34
It worked. Testing it now.

[2020-04-18 17:46] #34 closed

[2020-04-19 12:41] mintu19 opened #35 "@Path not setting proper route"
I am using @Path like

[code]

When i use it with route, proper openapi definitions are created but ktor route is not working. I listed routes and checked... It doesn't show as parameterized route and also none of post method works...

[code]

route listing on ktor show

[code]

Sending port request to images/1 or images/ routes produces error 404
[code]

Why route is shown unhandled and it is gen

[2020-04-19 13:02] Wicpar commented on #35
On non authenticated routes it does work on the experimental branch.

I find it odd that you declare a post on an authenticated route without giving it the principal type, are you authenticating the route, and if yes why is it not the `OpenAPIAuthenticatedRoute<A>` context that requires you to give the authentication type parameter ?
`fun <reified P : Any, reified R : Any, reified B : Any, A> Open

[2020-04-19 14:12] mintu19 commented on #35
yes i am using authenticated route. I missed writing proper signature while posting here. It is like this:

`post<MyParams, PResponse, PRequest, IdPrincipal>(`

what is the issue and why route is not properly generated?

[2020-04-19 14:25] Wicpar commented on #35
What version are you using ? 0.1 or 0.2 experimental ?

[2020-04-19 14:32] mintu19 commented on #35
i am using    implementation 'com.github.papsign:Ktor-OpenAPI-Generator:-SNAPSHOT'

[2020-04-19 14:45] Wicpar commented on #35
The snapshots might be unstable, can you try the tagged versions to see if
there is one that works ?

Le dim. 19 avr. 2020 à 16:32, Akshit Bhandari <notifications@github.com> a
écrit :

[2020-04-19 15:36] mintu19 commented on #35
using     implementation 'com.github.papsign:Ktor-OpenAPI-Generator:0.2-beta.2-experimental'

getting:

19-04-2020 21:0```
5:12.678 [main] INFO  Application - route: /openapi.json/(method:GET)
19-04-2020 21:05:12.678 [main] INFO  Application - route: /(method:GET)
19-04-2020 21:05:12.679 [main] INFO  Application - route: /(authenticate "default")/com.papsign.ktor.openapigen.route.util.ConstantRout

[2020-04-19 17:00] Wicpar commented on #35
What is the import you use for the path annotation, is it the one from the library ?

[2020-04-19 17:08] mintu19 commented on #35
yes

[2020-04-19 17:25] uuf6429 opened #36 "Missing documentation and weird usage"
I really like this project, however, not only is documentation lacking, but the examples seem broken/half-baked (eg `TestServer.kt`'s `APIPrincipal`) and some usages are far from understandable.

For example, I just (literally) got a headache trying to understand how the `StatusPages` syntax works.

Let's give the original usage a look:
[code]
And the new usage:
[code]

If writing proper examples

[2020-04-19 18:27] mintu19 commented on #35
I have verified it is not working without auth also

[code]

[code]

This will generate 19-04-2020 23:52:15.117 [main] INFO  Application - route: /(method:HEAD)
 instead of route /my/{id}

if i use get instead of head no new route is generated (as get root is already there in normal ktor routes i created).

Path annotation is not working as expected

[2020-04-19 18:34] Wicpar commented on #35
You can debug the function `package com.papsign.ktor.openapigen.route.preHandle` at this line:
[code]
this is common code, it should be called by both normal and authenticated routes, it should not be null, and should contain your path string. This is the only relevant code to this issue, if there is a problem it can be seen here...

It could be:
- Annotations are not retained during runtime
- Two

[2020-04-19 18:55] Wicpar commented on #36
The project has evolved and the documentation and examples haven't.
It would be nice to have some help writing the wiki, i have trouble structuring it into relevant/less relevant information for beginners.

Exception handling is not yet completely fleshed out, but got improved in 0.2-experimental:
[code]

The usage would be clearer like this:
[code]
Status codes are hard coded per handler because

[2020-04-19 19:41] uuf6429 commented on #36
Yes, very much. Would be nice to have these sort of examples. If I manage to get some time, I'll try contributing as well.

[2020-04-19 20:17] mintu19 commented on #35
i am not able to debug this via intellij idea. IDE hangs on debug that code...
I will try to make a sample for you to debug...

[2020-04-19 20:23] mintu19 commented on #35
Using this will generate doc properly?

`route("{param}").post()`

[2020-04-19 21:53] Wicpar commented on #35
Yes, the path annotation is just a convenience.

[2020-04-19 22:01] mintu19 commented on #35
Resolved the issue while creating example project. Route was created properly. It was not displayed in log because ktor have no way to list routes so routes were logged based on selector. I printed all routes and then my routes were visible. Given routes may or may not have handler but there is no way to check as handlers are internal field. So have to list all routes.

Also the api was not called

[2020-04-19 22:01] #35 closed

[2020-04-24 16:31] mintu19 opened #38 "kotlin package name schema Namer"
Not issue, only info

kotlin packages for example.in domain with name like
``package `in`.example``

will need schemaNamer

[code]

[2020-04-24 16:34] #38 closed

[2020-05-01 14:55] bargergo opened #39 "How to set operationId for endpoint?"
I would like to generate client code from the generated swagger doc and use the first Tag and the operationId for naming the methods. I have found in the tests how to add tags, but I can't find anywhere how to add operationId.

[2020-05-01 15:54] Wicpar commented on #39
There is no module implemented for it at the moment, you can implement it like this:
[code]

[2020-05-01 15:54] #39 closed

[2020-05-01 21:06] bargergo commented on #39
Thank you for your detailed help! I really appreciate it.

There is a typo in the EndPointId example: the type of operation should be Operation and not OperationModel, but aside from that, it works well. Thanks again!

[2020-05-03 18:04] uuf6429 opened #40 "Sets not handled properly"
If I have a response class with a `List<SomeEnum>` field, the generated entity looks like:
[code]
That looks pretty good, but if instead I had `Set<SomeEnum>`, I get:
[code]

I think the expected schema should have looked like:
[code]

In the source code, I saw a few places with `clazz.isSubclassOf(List::class)`, not sure but I'm thinking the fix involves changing those places.

[2020-05-04 14:48] Wicpar commented on #40
I reworked the Type Schema builder system for exactly these cases, so in theory you could have simply added a module defined like this:
[code]
But the array model type didn't have the uniqueItems property so it would have been futile.
I made the appropriate changes. I also merged the experimental branch, you can get the changes in the last release.

[2020-05-04 14:48] #40 closed

[2020-05-04 15:06] uuf6429 commented on #40
Awesome, that was very fast! Many thanks!

[2020-05-07 13:16] ivan-brko opened #42 "Usage with kotlinx.serialization"
Hi,
This library looks great!

I am having problems with getting things working in my Ktor application which uses _kotlinx.serialization_ for API serialization/deserialization. I can't find if this library should work (or is tested) with _kotlinx.serialization_? And if so if there are any specific settings that need to be set?

[2020-05-07 13:53] Wicpar commented on #42
In principle the Ktor serializer/deserializer should be compatible since it uses Ktror's respond and receive, but i haven't tested.
What doesn't seem to work? Are there errors ?

[2020-05-08 04:20] ivan-brko commented on #42
Yes, I get the following exception:
_kotlinx.serialization.SerializationException: Can't locate argument-less serializer for class DataType. For generic classes, such as lists, please provide serializer explicitly._

I'll try to see if I can work around this.

[2020-05-08 08:30] Wicpar commented on #42
Your issue is related to how kotlinX handles generics. You can get initialisation time types of the generics, see here:
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/master/src/main/kotlin/com/papsign/ktor/openapigen/content/type/ktor/KtorContentProvider.kt

There is currently no way to generate a per route parser/serializer from a single factory IIRC, you would have to manually (through

[2020-05-08 09:55] ivan-brko commented on #42
Thanks for the info.

I guessed that I would somehow need to register serializers for everything this library needs to send. Didn't look that much into how kotlinx.serialization works under the hood (and how Ktor calls kotlinx.serialization), I will check that.

[2020-05-14 17:00] y9san9 opened #43 "how to upload file"
How can I mark file body and formData params ?

[2020-05-14 17:02] y9san9 commented on #43
oh, sorry for useless ussue, found solution there https://github.com/papsign/Ktor-OpenAPI-Generator/issues/33
you must definetly add this feature to README :)

[2020-05-14 19:29] y9san9 opened #44 "different body types"
Can I use different body types on success and on error? Because in Retrofit Im using different bodies with different types

[2020-05-14 19:34] Wicpar commented on #44
Sending different response types should work if you use exception handlers, if they are on the same error code it should generate a `oneOf` definition.
If you mean receiving different body types, then you might want to define an object that has a nullable parameters for the one or the other.
Tell me if it doesn't work and i'll look into it.

[2020-05-14 20:35] y9san9 commented on #44
Thanks that works pretty well. This library is rly nice, do not stop it's support :)
And you should also write about this feature in wiki or README, cuz I'm exporing library from issues and I think there are so many unknown for users features

[2020-05-14 20:35] #44 closed

[2020-05-14 20:43] #43 closed

[2020-05-14 21:21] y9san9 opened #45 "incorrect 'throws' rendering"
`
throws(APIException.apiException<ApiError, String>(HttpStatusCode.BadRequest, ""), fn = fn)
`
This code have that result for me
![image](https://user-images.githubusercontent.com/46930374/81987287-fd9a2600-9641-11ea-9427-d6095e44e33d.png)

[2020-05-14 21:25] y9san9 commented on #45
I have tried same with KotlinNullPointerException but not with my custom one. The result is same, logs here
![image](https://user-images.githubusercontent.com/46930374/81987571-916bf200-9642-11ea-8efe-039102567451.png)

[2020-05-14 21:40] Wicpar commented on #45
can you try the new syntax ?
https://github.com/papsign/Ktor-OpenAPI-Generator/wiki/A-few-examples#exceptions-and-multiple-responses

[2020-05-14 21:42] Wicpar commented on #43
i added an example page in the wiki that covers most usages

[2020-05-14 21:42] Wicpar commented on #44
i added an example page in the wiki
https://github.com/papsign/Ktor-OpenAPI-Generator/wiki/A-few-examples

[2020-05-14 21:44] Wicpar commented on #45
Also, swagger-ui does not cover the full OpenAPI spec, i need to see the openapi.json for that request to verify what is going wrong.

[2020-05-14 21:46] Wicpar commented on #45
Another issue could be that your gradle cache has an older version of snapshot, try to upgrade to a release version

[2020-05-14 21:55] y9san9 commented on #45
I have found the reason. There was another throws {} block in upper level. If sumplify
`throws(...){
    throws(...){}
}`
I expected to catch exceptions by upper block for all requests, then jsonify and respond with it, but show error specifications in lover block for every single request
UPD: Just now have same error by using vararg APIException

[2020-05-14 22:01] Wicpar commented on #45
can you provide a code sample ?

[2020-05-14 22:05] y9san9 commented on #45
Sure, I've simplified it with null pointer
`throws(
        apiException<KotlinNullPointerException, String>(HttpStatusCode.BadRequest, "test"),
        apiException<KotlinNullPointerException, String>(HttpStatusCode.BadRequest, "test"),
        fn = fn
    )`

[2020-05-14 22:33] y9san9 opened #46 "create tag with name and description"
`inline fun NormalOpenAPIRoute.tag(name: String = "", description: String = "", crossinline fn: NormalOpenAPIRoute.() -> Unit) {
    tag(object : APITag {
        override val description = description
        override val name = name
    }, fn)
}`
Sorry now I have a little bit time to create PM. You can add this code to create tags with name and description instead of implementing interface (or w

[2020-05-14 22:43] y9san9 commented on #45
That's it
![image](https://user-images.githubusercontent.com/46930374/81992910-40adc680-964d-11ea-9400-b8bd54c1a8c8.png)

[2020-05-14 22:57] y9san9 commented on #45
You should use another json code (and also I think that required ability to change example names)
![image](https://user-images.githubusercontent.com/46930374/81993812-2f65b980-964f-11ea-9398-c2c510b7b66b.png)

[2020-05-15 11:23] y9san9 opened #47 "serialized name annotation"
![image](https://user-images.githubusercontent.com/46930374/82045261-75566800-96b7-11ea-9725-a77e68f53485.png)
Is there possibility to rename parameters as in Gson library ?
![image](https://user-images.githubusercontent.com/46930374/82045324-94ed9080-96b7-11ea-893a-ad6609ac80e5.png)
I want generate parameters with different name in Kotlin and Json

[2020-05-15 12:28] Wicpar commented on #45
Ah i see, i'll look into it.

[2020-05-15 12:30] Wicpar commented on #46
There is already a tag functionality, i has to be an enum though.
You can see it implemented here:
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/master/src/test/kotlin/TestServer.kt

[2020-05-15 12:33] Wicpar commented on #47
I'll see if you can add it as a module or not, if not i'll try to add functionality to allow the handling of such cases.

[2020-05-15 12:44] y9san9 commented on #46
Thanks I have checked first reply and now I've reworked my tags with enums. That's better and it's not important to implement my way of creating tags

[2020-05-15 12:44] #46 closed

[2020-05-15 12:45] y9san9 commented on #47
Okey, waiting for reply

[2020-05-15 12:46] y9san9 commented on #47
Maybe I can use Gson serializer instead of Jackson ?

[2020-05-15 14:32] Wicpar commented on #47
you can use replaceModule in the config, and replace this default module
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/master/src/main/kotlin/com/papsign/ktor/openapigen/schema/builder/provider/DefaultObjectSchemaProvider.kt
with one that takes in account the name from the annotation, this is the relevant part:
[code]
in the config:
[code]

Allowing a more generic modification requires qu

[2020-05-15 14:32] #47 closed

[2020-05-15 14:56] y9san9 commented on #47
should I extend my class from it? It is final type as I see

[2020-05-15 14:58] Wicpar opened #48 "Create a proper Example system"
A system needs to be created that allows to provide one or more examples with their metadata without adding bulk to the minimal configuration.

[2020-05-15 14:59] Wicpar commented on #45
fixed in 0.2-beta.4
For more accurate names and descriptions there is no quick fix, this whole part needs a rework... #48

[2020-05-15 14:59] #45 closed

[2020-05-15 15:07] Wicpar commented on #47
no, you create a new one, and replace the default module with yours using replaceModule in the config.

[2020-05-15 15:27] y9san9 commented on #47
Can I do same with headers ?
I wanna name header 'token' in Kotlin and 'Authorization' in request (without Auth)

[2020-05-15 15:59] Wicpar commented on #47
Yes normally you should be able to, look which module instanciates the header's model.
All openapi structures are defined in the models package, it should be 1:1 to the spec, look what module instanciates the model you wish to customize, and replace the module with a custom one.

[2020-05-15 16:22] y9san9 commented on #47
Ok thanks

[2020-05-15 20:31] y9san9 commented on #48
I am really waiting for this feature to show all possible errors in my api
![image](https://user-images.githubusercontent.com/46930374/82093663-3ac6ec80-9704-11ea-934c-894589441c4a.png)

[2020-05-15 21:51] y9san9 opened #49 "Can I respond with file"
I want respond with byte array to user can read that as file

[2020-05-16 09:06] Wicpar commented on #49
https://github.com/papsign/Ktor-OpenAPI-Generator/wiki/A-few-examples
Look at the binary request/response.

[2020-05-16 09:06] #49 closed

[2020-05-16 12:59] y9san9 opened #50 "Header without backtits"
I want to create header without '-', but if I create @HeaderParam with name Authorization, this header will not appear in request as there
![image](https://user-images.githubusercontent.com/46930374/82120375-38a97000-978e-11ea-8969-186d7b312990.png)

[2020-05-16 13:00] onroundit commented on #50
same :(

[2020-05-16 13:01] y9san9 commented on #50
If I use '-' then there is no bug
![image](https://user-images.githubusercontent.com/46930374/82120409-7ad2b180-978e-11ea-90a8-31c21f579f17.png)

[2020-05-16 13:36] Wicpar commented on #50
alright, i'll get something done

[2020-05-16 15:02] Wicpar commented on #50
the latest snapshot has @OpenAPIName
[code]
I tested it with parameters only, i don't know if it can be used on with request and response types.

[2020-05-16 19:14] y9san9 commented on #50
Thanks, that works pretty well, but still variable with name without backtits and annotation does not puts into request by swagger. For me now it's not problem, but for someone can be
Also I will check @OpenAPIName on requests&responses and will open issue if something will be wrong

[2020-05-16 19:21] y9san9 commented on #50
Sorry for mis info, I discrovered that this bug appears only with 'Authorization' header and that's cuz I should use Authorization with your library, can you give me some links ?

[2020-05-16 19:46] Wicpar commented on #50
Alright, closing then.
For auth look at #8, it applies to all authentication schemes

[2020-05-16 19:46] #50 closed

[2020-05-16 23:53] y9san9 opened #51 "use parameter not once"
![image](https://user-images.githubusercontent.com/46930374/82132526-450ee680-97e9-11ea-9338-8a6ef3116672.png)
I have this models and I am using auth param in almost every request (there can be other parameter, not only auth). Can I somehow create data class with this param and then use it in other classes. My vision of it is in screenshot

[2020-05-16 23:56] y9san9 commented on #51
I'm copy & pasting same parameters every time and it makes my code worse

[2020-05-17 08:34] Wicpar commented on #51
Right now there is no way around it, if kotlin had vararg templates it would be fine, but the best shot at solving this is #10 and it would be quite a big change for the library.

[2020-05-17 08:37] Wicpar commented on #51
Also if you use authentication you should rather use authenticated routes and the auth provider, it allows you to share logic on the endpoints to get the authenticated principal object directly

[2020-05-17 11:40] y9san9 commented on #51
Okey, thanks for your reply. Waiting for #10

[2020-05-17 11:40] #51 closed

[2020-05-17 14:09] y9san9 commented on #51
I have suggestion how to implement this
`route<GetTasksParams>("/tasks"){ params ->
            route<AuthParams>("/auth"){ otherParams ->
                get<AnotherParams, ...> { anotherParams ->

                }
            }
            post<SomeOtherParams, ...> { someOtherParams ->

            }
        }
`
I dont know about possibility to do this, but this syntax would be nice

[2020-05-17 14:16] Wicpar commented on #51
that is not possible directly, sadly, but something like this would be possible
[code]

[2020-05-17 14:24] y9san9 commented on #51
Oke, I understand. Can you implement this ?

[2020-05-17 14:27] Wicpar commented on #51
not any time soon sadly, i'm quite busy at the moment and can only spare an hour here an there...
If you think you can implement it feel free to open a pull request.

[2020-05-17 14:29] y9san9 commented on #51
Okey, I will think more about it later and if I find better solution I'll implement it

[2020-05-21 14:54] bherbst opened #52 "Support for model parameter descriptions"
I would love to be able to annotate model properties with descriptions, like we can do with `@HeaderParam`, `@PathParam`, and `@QueryParam`, and it doesn't look like that is currently possible.

I'd imagine something like the new `@OpenAPIName` would work well.

[2020-05-21 15:24] Wicpar commented on #52
I won' t be able to implement anything of that kind until the week after the next,
but if you want to take a shot at it you can:
1. Add the description property to the schemaModel https://github.com/papsign/Ktor-OpenAPI-Generator/blob/master/src/main/kotlin/com/papsign/ktor/openapigen/model/schema/SchemaModel.kt
2. Create a validator to edit the properties you want (validators are type annotations

[2020-05-21 19:10] Wicpar commented on #52
Thank you for the contributions :), merged and released.

[2020-05-21 19:10] #52 closed

[2020-05-21 20:59] DrewKiino commented on #4
this library is amazing btw, Ktor is a really great modular library and having swagger support was one of the bigger issues. this pretty much solved it for me. hopefully this library gets continued support so it be used in production apps more.

[2020-05-22 12:44] plannigan opened #55 "Issue with testing post route with body"
I wanted to create a PR that would allow for not using `Unit` when there are no route params (should be ready soon). However, when I was writing some unit test cases for the new code, I ran into a weird issue with the post route not being handled when the body was specified. What makes this weird is that running the same code works fine when standing up the server and sending real post requests.

[2020-05-22 13:53] Wicpar commented on #55
I'll look at it later today if i have time.
If you want to display the trace you can add the trace as described at the bottom of the ktor route documentation. https://ktor.io/servers/features/routing.html

Also be careful with authenticated routes, the definitions could clash, this was the reason i originally didn't create these variants...

[2020-05-22 13:56] Wicpar commented on #55
Oh right, something similar happened to someone else also, make sure that the content type is specified in the tests, the routes are defined on specific content types types to allow handling of multiple content types on the same route.

[2020-05-22 14:48] plannigan commented on #55
Setting the content type resolved the issue and now all the test cases pass. So I'll close this issue.

I'll take a look at the auth routes. If the generics does cause a problem, would you be open to something like `auth{METHOD}()`?  It's subjective, but I feel like

[code]
looks better than
[code]

[2020-05-22 14:48] #55 closed

[2020-05-22 15:09] Wicpar commented on #55
The plan is to eventually transition to an injection based route configuration #10
It will still be computed during init for no runtime impact and allow for quite a bit more flexibility and a cleaner syntax.

[2020-05-23 20:44] bargergo opened #56 "How to create custom validators with the latest version?"
I've created custom validators with the 0.1-beta.2 version and I wanted to update to the latest version (0.2-beta.5). The validation system changed a lot and I can't figure it out how to write a custom validator. I've only found example on custom validators for the old version.

[2020-05-23 21:26] bargergo commented on #56
Ok, now I've found some example code from the built-in validators/transformers, but I still don't know how could I write a custom validator that validates if the length of a string equals to a number.

Annotation
[code]

Validator
[code]

[2020-05-23 21:44] Wicpar commented on #56
Yes it changed quite a bit to get rid of the registration process, now you can just provide the annotation and the annotation itself provides the handler.
Take a look at https://github.com/papsign/Ktor-OpenAPI-Generator/blob/master/src/main/kotlin/com/papsign/ktor/openapigen/annotations/type/number/NumberConstraintProcessor.kt

Just ignore the abstract part, implement the SchemaProcessor and Valid

[2020-05-23 23:25] bargergo commented on #56
Thanks for your help! I've managed to implement the custom validator I wanted. I'm sharing my code, maybe it will be helpful for others.

I've wrote a LengthConstraintProcessor class based on the NumberConstraintProcessor class
[code]

Annotation
[code]

Processor class
[code]

[2020-05-24 00:00] Wicpar commented on #56
Nice :)
Feel free to open a pull request if you wish to contribute the annotations and add the missing properties in the model.
Maybe i should change the model to a delegated hashmap, constantly changing the model is getting tedious...

[2020-05-24 07:58] bargergo commented on #56
Ok, I've created a pull request. I couldn't test it, yet, because I have problems with adding the modified gradle project as dependency to a project correctly .

[2020-06-01 05:29] likewhatevs opened #58 "is it possible to have an endpoint with multiple query params?"
is it possible to have an endpoint with multiple query params?

for example, the following:
[code]
[code]

results in:
[code]

Also, could you point me in the right direction of how to do this if it is possible?

[2020-06-01 09:47] Wicpar commented on #58
It is possible,
You may have mixed up imports, the type you specified is not a data class according to the error message, but your definition declares it as such.

[2020-06-03 10:41] Wicpar commented on #58
@likewhatevs have you managed to get it to work ? I'll reopen if not.

[2020-06-03 10:41] #58 closed

[2020-06-09 17:06] y9san9 commented on #48
Oh, I'm still waiting... I hope you'll make it as soon as you can...

[2020-06-15 09:09] sigmanil opened #60 "Make it possible to specify HTTP response code without using annotations"
We've recently started using this project, and we find it provides great value. One issue we're having, however, is code duplication (or alternatively the need for wrappers etc) in our "DTO" classes due to the fact that Ktor-OpenAPI-Generator seems to require HTTP response codes to be specified using the Response-annotation. Very often, the structures we want to return from GET, PUT and POST are t

[2020-06-15 10:21] Wicpar commented on #60
Indeed it is sub-optimal as the status code can only be changed through the annotation.
You have two options for a "quick" fix:
- Handle the responses through an exception handler (which is quite a sacrilege I must admit)
- Implement your custom post/get/put, etc... with an edited pre-handle function that injects your custom `ResponseHandlerModule` that gets the status code from a module.

If I we

[2020-06-15 10:31] Wicpar commented on #60
Turns out the change is minimal, i'm on it, ETC: 1h.

[2020-06-15 11:43] Wicpar commented on #60
0.2-beta.8 is out.
I also changed the Module provider behaviour to guarantee insertion order in order to be usable as a stack as well, and changed KClass to KTypes to allow for generic specialisation. It might break some code, i explained how to fix it in the release notes.

[code]

[2020-06-15 11:43] #60 closed

[2020-06-15 11:46] sigmanil commented on #60
Awesome, thank you very much! We'll try it out ASAP! :-)

[2020-06-29 18:51] JavierPAYTEF commented on #36
Hi, to add a little to the other request, it would be nice to have a full example project, with all the verbs used.
I couldn't find examples using "post", or simple things like "get" example that doesn't receive any parameters but returns something.

One thing to mention is that the code appears to have no comments, so I have trouble understanding what I need to put in some of the parameters.

For

[2020-06-29 19:42] Wicpar commented on #36
I agree, If you do a pull request with documentation comments i'll accept it.
It might take while until this is worked on on my side if not.

[2020-06-29 23:24] uuf6429 commented on #36
To be fair, I think that using `P`, `T` etc is a bad practice [coming from Kotlin](https://github.com/JetBrains/kotlin/blob/master/libraries/stdlib/src/kotlin/collections/Collections.kt#L77). Most Kotlin generic functionality does this.
It would have been nice to adopt a standard such as `TSomething`'s, eg, `TRequest`, `TParams` or:
[code]

[2020-06-30 03:36] JavierPAYTEF commented on #36
It would definitely help to have those generics have a better name like TParams, TRequest, TResponse.

In the Kotlin example you sent "elements" kind of explains what T is, so we can give it pass, since it would be redundant to have "elements: TElement".

But, for the example I sent, your idea is good because no parameter explains what R or P are, the only names in the method are "modules", "examp

[2020-06-30 13:20] Wicpar commented on #36
Yes, `TSomething` is a way better pattern than the first letter capitalised, i'll start using it.

@JavierPAYTEF the best package to start on is `com.papsign.ktor.openapigen.route.path`

[2020-06-30 23:13] davidhiendl commented on #10
It would also be interesting to have a way to pass in the KClass instances for typed Parameters, Response and Body into a generic `.handle(...)` method instead of relying on reified types entirely. This would allow for more customization when generating the routes from legacy applications. As it stands right now I cannot do this and have to manually register the routes with each controller.
I have

[2020-07-01 02:42] JavierPAYTEF commented on #6
Hey I'm currently writting the docs and changing the names but I'm going crazy with a problem I can't find the reason for. The body and response for all my services are empty.
I managed to track it to RequestHandlerModule when it does `provider.ofType<BodyParser>()` it always returns null.
I'm not sure why the BodyParser module is empty. Do I need to register the BodyParser myself someway?

This i

[2020-07-01 03:24] JavierPAYTEF commented on #36
Hey I'm currently writting the docs and changing the names but I'm going crazy with a problem I can't find the reason for. The body and response for all my services are empty.
I managed to track it to RequestHandlerModule when it does `provider.ofType<BodyParser>()` it always returns null.
I'm not sure why the BodyParser module is empty. Do I need to register the BodyParser myself someway?

This i

[2020-07-01 03:43] JavierPAYTEF commented on #36
I made it work somehow, but had to change part of the configuration, I'm guessing this is not done because I'm compiling in Android and it's not detecting something. If I do the following it works:

[code]

[2020-07-01 08:55] y9san9 opened #61 "Why are you using 'crossinline' modifier in body param of NormalOpenApiRoute.route method"
I am making DSL for your framework and when I'm trying to make wrapper function the method and getting an internal JVM exception cause of invalid bytecode generation
![image](https://user-images.githubusercontent.com/46930374/86224280-59d4ed00-bb91-11ea-88c4-e04237eba390.png)
I haven't found the real solution, but in my case changing 'crossinline' modifier to 'noinline' helped, can you ask, why ar

[2020-07-01 10:45] Wicpar commented on #61
Crossinline is necessary to preserve reification, but maybe it is not necessary in most cases.
Can you show me how you are calling the function ?

[2020-07-01 10:47] y9san9 commented on #61
@Wicpar Im not calling the function, it is compile error, but Idk why it shows only in compile log, not in ide

[2020-07-01 11:33] Wicpar commented on #61
Ah it could be a jdk version mismatch.

[2020-07-01 11:40] y9san9 commented on #61
@Wicpar I found that is JVM bug, but if crossinline is necessary in your case then ok

[2020-07-05 12:23] Wicpar commented on #36
@JavierPAYTEF sorry for the late response.
The library uses reflections to detect the default modules. I didn't think to test with Android if this worked. It seems that it doesn't.

[2020-07-20 08:21] sigmanil opened #64 "Security documentation not being generated"
We've been able to implement JWT-authenticated endpoints through the Ktor-OpenAPI-Generator API, and authentication works - but the generated OpenAPI.json doesn't contain any information about the security scheme. It should, right?

We have written the following code to tell Ktor-OpenAPI-Generator about the authentication:

[code]

In our Application.apirouting, we wrap the required paths with aut

[2020-07-20 08:38] sigmanil opened #65 "Scopes enum is required even for Bearer authentication"
As far as I understand the OpenAPI documentation, Scopes should be an empty list when using Bearer authentication. See: https://swagger.io/docs/specification/authentication/bearer-authentication/

In Ktor-OpenAPI-Generator, due to the way com.papsign.ktor.openapigen.modules.providers.AuthProvider.Security is defined, it seems that we must still have an Enum class with scopes even when only support

[2020-07-22 16:15] Wicpar commented on #64
You need to register the module in the route as it is created.  You are starting to use the less elegant parts of the project, sorry about that.
just replace the `route.provider.child()` with `route.provider.child().also { it.registerModule(this) }`

[2020-07-22 16:17] Wicpar commented on #64
Essentially route modules are there to handle the metadata and the behavior, but due to typing authentication is an exception to that (modules cannot enforce types at compile time) and requires both the module and the special route class to preserve the authentication type.

[2020-07-22 16:21] Wicpar commented on #65
Yes, that restriction is quite bothersome and should be relaxed. I unfortunately haven't gotten around to it.
The security was designed with OAuth2 in mind, that is why typed enforcement of flows seemed a good idea.

[2020-07-22 20:17] JavierPAYTEF commented on #36
Hi @Wicpar I created a pull request that adds a couple of the changes we talked about in here.
Please let me know if I'm on the right track, you might want to edit some of the texts, please let me know.
The pull request shouldn't have any functional changes compared to the current version, it should only be name changes and comments.

[2020-07-23 07:16] sigmanil commented on #65
I haven't really thought this through very thoroughly, but would an easy improvement be to change the type parameter in AuthProvider.Security, SecurityShemeModel to just require a _Described_, and *not* an Enum? For example:

```Security<TScope : Described>(val scheme: SecuritySchemeModel<TScope>, val requirements: List<TScope>)```

Or are you using the fact that it's an Enum for something somewhe

[2020-07-23 07:42] sigmanil commented on #64
Thanks for the quick answer! I'm assuming you mean ```com.papsign.ktor.openapigen.modules.registerModule``` for the method to be called in that "also{...}"? (Because the registerModule available on the CachingModuleProvider object available there also requires a KType parameter.)

It compiles and runs, but doesn't seem to make any difference to the output. 🤔

[2020-07-23 11:43] sigmanil commented on #64
I tried adding ```this.provider.child().also { it.registerModule(authProvider) }``` to the NormalOpenAPIRoute.auth()-function as well, but that didn't have any effect either.

[2020-07-23 15:26] Wicpar commented on #64
Odd, try and see if the authProvider is in the module provider, and what type it is associated to.
What version do you use ?
One possiblity is that a latest version does not query erased types properly, due to the change to KType.

[2020-07-23 16:25] Wicpar commented on #65
Enum is used for the ".name" and serialization, but besides that it was only meant as type enforcement. I think the issue with removing the Enum would be that the security model would be improperly generated. Replacing it with a String is possible, but generally using language types directly is unadvisable. Maybe a wrapper that handles the serialization properly ?

[2020-07-24 07:54] sigmanil commented on #64
We're currently on version 0.2-beta.9, we started using this project after the KType-rewrite. I'll try downgrading to before that change to see if that helps, and try to (understand and) find out what you asked about with regards to the module provider.

[2020-07-24 08:35] sigmanil commented on #64
I can confirm that securitySchemes (that look correct) and security tags (these are empty though 🤔 ) are generated with 0.2-beta.7 (last one before the KType-change as far as I can tell) - whereas they are NOT generated with 0.2-beta.9.

Which in my head means it's likely that this is a bug introduced with the KType rewrite - would you agree? How do we proceed in that case? Would it be helpful if

[2020-07-24 09:06] davidhiendl commented on #64
Hello, I actually wrote that change to KType and must have missed something. I will take a look at it shortly (as I noticed this problem myself with our my project). A failing test would be helpful.

[2020-07-24 09:08] sigmanil commented on #64
I'll see what I can do about the test as soon as I'm able then! Thanks for looking into it!

[2020-07-24 09:08] davidhiendl commented on #64
Actually I'm mistaken, my latest KType changes have not been released yet - but I will take a look at it regardless :)

[2020-07-24 10:51] sigmanil commented on #64
@davidhiendl I opened a PR with a test that demonstrates this issue, as you can see above.

[2020-07-24 12:32] Wicpar commented on #64
@davidhiendl Your changes are not to be blamed.

I know exactly where the bug is:
Currently the Module provider stores a hash map with Type -> associated modules. When it was KClass based erased types could be used as all subtypes were registered as erasures. Now With KType the subtypes are no longer registering as AuthProvider<*> but as AuthProvider<Principal>, and thus there is no entry when the

[2020-07-24 12:37] davidhiendl commented on #64
Does registration order even matter for distinct principles? Perhaps a `Map<Principal, List<AuthProvider<Principal>>` can be used to mitigate the impact.

[2020-07-24 12:44] Wicpar commented on #64
This is a bug in the fundamental module system, not specific to the AuthProvider, it just happened to be the one that was affected.
There being less than 20 modules per route generally speaking, the ArrayList solution seems to be the appropriate one.

[2020-07-24 14:21] Wicpar commented on #64
The bug is fixed.

[2020-07-24 14:21] #64 closed

[2020-07-26 21:58] inaiat commented on #42
Hi,

I created a extension on DataModel to serialize using a kotlinx.serialization.

I few some tests and I got success results.

`fun DataModel.kserialize(): JsonElement {
    fun Any?.toJsonElement(): JsonElement {
        return when (this) {
            is Number -> JsonPrimitive(this)
            is String -> JsonPrimitive(this)
            is Boolean -> JsonPrimitive(this)
            is Enu

[2020-07-27 14:40] sigmanil commented on #64
@Wicpar Thank you so much for the fix :-) Would it be possible for you to release a version with it?

[2020-07-27 14:41] Wicpar commented on #64
Oh, right !

[2020-07-27 19:43] Wicpar commented on #64
Done

[2020-07-28 07:06] sigmanil commented on #64
Thank you! :-)

[2020-07-28 09:13] sigmanil opened #68 "Name-property is added to all security schemes, causing openapi.json to fail validation"
As far as I understand https://swagger.io/docs/specification/authentication/ , the "name" property in security schemes should only be used when type=apiKey. This is enforced by the validator at https://editor.swagger.io/ (at least as far as type=http goes). Ktor-OpenAPI-Generator currently seems to include the name-field for all security scheme types (and the field is non-nullable in ```com.papsig

[2020-07-28 15:41] JavierPAYTEF commented on #48
Hi @Wicpar, I implemented an @Example annotation for the fields and wanted to run it by you in case you think it's useful and want me to add a PR.

Let me know if you prefer me to open a different issue for this, I thought the subjects were somewhat connected.

The rationale behind the change is that I'm using Rapidoc instead of Swagger UI, and Rapidoc ignores the examples entirely and uses only t

[2020-07-28 18:06] Wicpar commented on #48
The approach I would have taken is to just take a string and convert it based on `type`, this would allow for objects as json examples without additional effort.

[2020-07-28 21:34] Wicpar commented on #48
@JavierPAYTEF What do you think about that, but a purely string based annotation that parses the content as json (or other based on a secondary optional property) ?

[2020-07-28 21:35] Wicpar commented on #68
I'll have to look into this later, if you think you can go for a nice way to fix that i'll accept a PR.

[2020-07-29 08:17] sigmanil commented on #68
For now, my only idea is to make a special handling for that type of data in the serializer, which didn't strike me as particularly nice... 😬 I'll let you know and/or make a pullreq if I get a good idea.

[2020-08-05 20:23] JanStoltman opened #70 "Using Ktor locations"
Hey, is it possible to use this library in conjunction with Ktor's Locations mechanism? I've taken look at the examples but I still cannot figure it out

[2020-08-06 11:13] Wicpar commented on #70
You can, but any paths defined with Ktor Locations won't be documented in the openapi spec.

[2020-08-06 11:35] JanStoltman commented on #70
Cool, thank you for info!

[2020-08-06 11:35] #70 closed

[2020-08-16 01:30] JavierPAYTEF commented on #48
@Wicpar Hi, sorry, I've had a lot of work this past few weeks, I couldn't work on this.
Regarding your approach, could you explain a little more?
The advantage with your approach would be that we could use non-native types, like arrays for example, but the examples would still need to be simple, and not objects, since this tag is for field examples. Probably another approach would be needed for fu

[2020-08-16 08:21] Wicpar commented on #48
There is no way to handle multiple types of primitives in annotations in a cleaner way than you did.
The cleanest is really to use a string with intellij `@Language` injection for json. But if you want to keep it with primitives the way you went with is the way to go. Maybe have a way to allow 0 values by selecting the annotation value based on KType.

[2020-08-18 19:15] rgbrizzlehizzle opened #71 "route(..).throws(...) eats stack trace"
Hey, project is really cool, just starting to dig into it... leaps and bounds better than my original plan of having to do hand rolled annotation + processing.  One issue I'm running into is that it seems that

[code]

will eat the underlying stack trace, and simply output something similar to

[code]

Obvious this isn't ideal for a variety of reasons 😄

[2020-08-18 22:55] JavierPAYTEF commented on #48
Do you maybe have an example or somewhere I can read some documentation? I tried researching on my own but my knowledge of annotations is not the best, so I will follow your lead since you probably know more than me in that regard.
Let me know a little more about how you would go about implementing it and I'll try to follow your lead.

[2020-08-19 00:16] Wicpar commented on #71
that is odd, can you provide a minimal pieceof code that can reproduce it ?

[2020-08-19 00:19] Wicpar commented on #48
I don't know if an exhaustive guide about annotations exist, i just learned how to use them by fiddling around with them, and looking at annotation-heavy projects like spring.

[2020-08-19 00:53] rgbrizzlehizzle commented on #71
Sure thing... I'll adapt it from the app I'm working on... so let's say I have

[code]

when I run `curl localhost:8080` I get the expected error, with corresponding stack trace

[code]

However, when I attach `throws()` like so

[code]

Then, when I run `curl localhost:8080`, the only output is

[code]

[2020-08-19 00:58] rgbrizzlehizzle opened #72 "Throw should be assignable on specific actions"
Hola,

Right now, it appears that `.throws()` is only actionable on the `Route`... curious what people think about also allowing `throws` to be assigned at the individual `get`, `post`, actions.  For example, right now I can do

[code]

However, since get/post quite often will have differing exceptions, it would be useful to be able to assign throws documentation to the individual actions, ie

[co

[2020-08-20 14:03] rgbrizzlehizzle commented on #72
Dug further into the code, this functionality is achievable instead through the `NormalOpenApiRoute ` DSL like so

[code]

[2020-08-20 14:03] #72 closed

[2020-08-21 15:00] sigmanil opened #73 "Is there a way to determine request content type/media type?"
I can't seem to figure out how to specify that an incoming post body, with "String" as the body type, should be something like "text/plain; charset=utf-8" instead of application/json.

[2020-09-14 13:05] inaiat opened #74 "NPE when missing required field on header"
Example:
[code]

Returns this exception on server: **java.lang.reflect.InvocationTargetException: null**

So, this exception is much generic to handler with throws DSL.

I think the one option is a specific exception for this case

Thank you.

[2020-09-14 17:41] y9san9 opened #76 "add primitive converter factory for kotlin.Byte"
![image](https://user-images.githubusercontent.com/46930374/93119500-901f0480-f6ca-11ea-9711-01a4fbf5598b.png)

[2020-09-15 14:54] Wicpar commented on #76
Yes, bytes have not been added to the primitives. You can use an Int and `@Min(-128)` `@Max(127)`

[2020-09-15 23:36] Wicpar commented on #74
released and fixed

[2020-09-15 23:36] #74 closed

[2020-09-15 23:39] Wicpar commented on #76
added in latest commit

[2020-09-15 23:39] #76 closed

[2020-09-15 23:40] Wicpar commented on #73
Since there is a solution and no further questions i am closing the issue.

[2020-09-15 23:40] #73 closed

[2020-09-16 06:11] y9san9 commented on #76
Thank you, good job!

[2020-09-25 13:37] Onlyhope commented on #10
Hi everyone, I love the suggested syntax, but it doesn't look like it's implemented. Wondering what's the status and if I can do anything to help out

[2020-09-25 14:22] Wicpar commented on #10
I haven't gotten around to start beyond the initial proof of feasibility. I am currently on other projects. If you think you can get something clean on the rails feel free to contribute.

[2020-09-29 20:24] leeaaron629 opened #79 "SecurityModel not serialized properly."
Hi

I've gotten the JWTAuth working, but it doesn't work with the generated Swagger. This is how it's currently being generated:

[code]

 If, I modified the Swagger by adding:
[code]

It works!

Also, it's generating an extra "name" field that Swagger Editor does not like.

[code]

I've made a PR to demonstrate the problem: https://github.com/papsign/Ktor-OpenAPI-Generator/pull/78

Here's the ful

[2020-09-30 13:07] Onlyhope commented on #79
I took a deeper look at this and realize it doesn't serialize empty lists within the map. Is that intended?

[2020-10-01 19:46] Wicpar commented on #79
The name parameter is a known issue, i'll look into it when i have some time. If you can fix it i'll accept the PR.

[2020-10-06 02:27] juliocesarsantos1020 opened #80 "Example Project"
Do you have a project where I can better understand how to use this library?

[2020-10-09 15:14] SimonBrodtmann commented on #80
I guess it would suffice if the examples weren't so minimalistic. Just add a complete example here and there. Not just one line.
One thing I'm currently struggling with:
[code]
No context around it and, most important, "ResponseType(...)". Common. Make it a real example. Tell me how you access the value of "str". As someone new to Kotlin it's a real struggle with such minimalistic examples.

Besid

[2020-10-09 16:23] Wicpar commented on #80
I don't really soo how to make it more explicit, making documentation is not my strong suit, String param is the param object, here with a simple string, populated from the request parameters. The response type is the type that is serialized when you send a response with the respond function.

[2020-10-09 16:24] Wicpar commented on #80
@juliocesarsantos1020 see the test folder, you have multiple files with a full example, some more complex than the other

[2020-10-15 14:44] SerVB commented on #80
@juliocesarsantos1020 , you can check my project out: https://github.com/SerVB/e-shop

@Wicpar , maybe it's worth adding something like "showcase" section to the README, to link projects that use Ktor-OpenAPI-Generator?

[2020-10-17 15:17] Wicpar commented on #80
@SerVB sure, you can do a PR for that section at the bottom of the readme.

[2020-11-02 13:17] stefan-cross commented on #29
In a similar vein, how does one handle parsing requests types. Preiovously I would

[2020-11-02 13:52] stefan-cross commented on #29
regarding the above 👆

Ignore me, i had overlooked your examples, for the benefit of others though here was how to capture potential parsing of request types...

[code]

Happy to help contribute on this project as its very useful, perhaps I can help with the docs?

[2020-11-02 14:28] Wicpar commented on #29
Any help is welcome, especially with the docs :)

[2020-11-02 14:29] #80 closed

[2020-11-24 14:15] Aschraf opened #82 "Date and date-time support"
Hello,

I'm currently using this great library and I'm not sure how to handle date-time string type (out of an Instant or Date java object).

From what I see, It was removed from `PrimitiveConverter`:

https://github.com/papsign/Ktor-OpenAPI-Generator/blob/9c8a8430d99d13728db126170fc8e142a2fdcda9/src/main/kotlin/com/papsign/ktor/openapigen/parameters/parsers/converters/primitive/PrimitiveConverter

[2020-11-24 19:40] Wicpar commented on #82
that part is not directly modular, so not much you can do as a quick fix...

If you can handle the types properly as ISO DateTime Strings it would be a great PR.

An alternative is to add a hook for injecting custom converters in `ConverterFactory.Companion` by extending `ConverterSelectorFactory` with something like
`injectConverterBefore(KClass, ConverterSelector)`
`injectConverterAfter(KClass,

[2020-12-07 21:10] BernatCarbo opened #83 "FormDataRequest issue with nullable parameters"
Hi there, I'm having a little issue with a FormDataRequest post request, I'm using the next request body:
![testRequest](https://user-images.githubusercontent.com/41543253/101405447-6431aa80-38d8-11eb-92c9-227fee9cc738.png)

This is translated as:
![requestBody](https://user-images.githubusercontent.com/41543253/101406177-66483900-38d9-11eb-9991-bc3713fb431c.png)
![testRequest2](https://user-image

[2020-12-08 14:08] Wicpar commented on #83
You mean in the swagger UI interface ?
This is expected behavior as there is no way to separate empty strings from null, since the field is always displayed.

[2020-12-09 10:46] BernatCarbo commented on #83
Hello,
Yes, from the swagger UI, when I click at 'execute' I would expect to be sent only the paramaters that have been specified with values (and hence the rest are null), for example from this (only the name field have a value, the rest are null):
![101406177-66483900-38d9-11eb-9991-bc3713fb431c](https://user-images.githubusercontent.com/41543253/101619469-9eec2d80-3a13-11eb-9364-8fd72c09843e.pn

[2020-12-09 13:16] Wicpar commented on #83
I do not manage the swagger UI project so I cannot help you with that, you can find another ui that accepts OpenAPI.json that suits your needs and disable the swagger ui in the settings.

[2020-12-09 13:16] #83 closed

[2021-01-17 13:39] AlexanderFalk opened #84 "Would it be possible to use another UI?"
Hi,

Is it possible to serve a different static html file instead of the basic Swagger-UI? We want to use Redoc, and instead of writing some custom logic, we want to know whether it is possible to point at a different file by using your library.

Best regards
Alexander

[2021-01-17 15:13] AlexanderFalk commented on #84
We got it working by adding a static html file to our resource folder and have the Redoc UI point at the generated `openapi.json` file generated by this library.

[2021-01-17 15:13] #84 closed

[2021-02-24 19:54] msramosjr opened #85 "Exception at application startup when under high volume"
We are experiencing an error that occurs everytime at application startup, and only at application startup. An exception is thrown by the framework when doing some reflection related stuff. This happens only in our production environment, we couldn't reproduce it locally or in other environments. So we think that somehow this bug happens due to the high traffic in our production environment. (abou

[2021-02-25 02:21] Wicpar commented on #85
It looks like your security manager prevents reflection in your production environment.

[2021-02-25 13:41] msramosjr commented on #85
Thank you for the quick reply.

I don't think this is the case for two reasons:

1) The exception occurs only a few times at startup. Aside from these few errors, our application is running normally in production.
2) We use docker in production, and I tried to reproduce the error running the exact same image locally but it doesn't happen.

Aside from that, I'll try to change val to var as a workar

[2021-02-25 14:01] Wicpar commented on #85
Yes, as the exception originates here: https://github.com/papsign/Ktor-OpenAPI-Generator/blob/8915dfc6e8f10a3665db6bfdd09b156988eec856/src/main/kotlin/com/papsign/ktor/openapigen/validation/ValidationHandler.kt#L243

Reflection is used to set each field as there is no guarantee to be a proper constructor.
I have no idea why it might change between launches, but you can try setting the security man

[2021-02-25 19:50] msramosjr commented on #85
Ok, I see... I'll try to set the security manager explicitly and see if this works. Thanks.

[2021-02-28 16:34] Wicpar commented on #82
Merged, released.

[2021-02-28 16:34] #82 closed

[2021-03-04 07:57] DarkXanteR commented on #85
I also get the same error which occurs every time after starting the application and with two simultaneous requests to the same endpoint.

@msramosjr have you found a solution?

[2021-03-04 19:37] Wicpar commented on #85
@DarkXanteR can you post the stacktraces ?

[2021-03-04 19:38] #68 closed

[2021-03-04 19:38] #79 closed

[2021-03-04 19:49] DarkXanteR commented on #85
I have this error only when using Trim annotation.
[code]

[2021-03-06 00:10] msramosjr commented on #85
@DarkXanteR I still haven't solved it. But I still haven't tested @Wicpar suggestions. I'm planning on doing this by the next week.

[2021-03-07 10:55] Wicpar commented on #85
@DarkXanteR same issue Indeed. Either use `var`, or security manager with the `suppressAccessChecks` permission.

[2021-03-07 10:57] Wicpar commented on #85
Another possibility is to refactor the code to use the clone method and change only the relevant field and fallback to the reflection method if it doesn't exist.

[2021-03-07 14:27] DarkXanteR commented on #85
Using `var` doesn't work because the underlying java field still `private`.

Like [this](https://github.com/DarkXanteR/Ktor-OpenAPI-Generator/commit/a58b374aed2a496bd7b949d22e8a101184baa6c7)?

[2021-03-08 10:58] pixellos opened #91 "OneOf Subtyping - Generators were failing to generate proper discriminators"
Tested on generators:
- TypeScript
- TypeScript-fetch

Given:
- User is using subTypes to create polymorphic ode

Whe:
- Code is generated

Then
- Discriminators are not taken into account

Should:
- Code should be discriminators aware

Old behavior:
Generated code with discriminators not compiling
![image](https://user-images.githubusercontent.com/13859373/110255708-623dbd00-7f95-11eb-99f6-30e8e5

[2021-03-08 14:16] Wicpar commented on #85
@DarkXanteR yes, does this fix the issue for you ?

[2021-03-08 14:20] DarkXanteR commented on #85
@Wicpar yes

[2021-03-08 14:24] Wicpar commented on #85
@DarkXanteR can you make a pull request ?

[2021-03-08 14:25] Wicpar commented on #91
PR Accepted

[2021-03-08 14:25] #91 closed

[2021-03-08 14:36] pixellos commented on #91
@Wicpar Thanks, is that possible to generate beta build from that?

[2021-03-08 15:27] Wicpar commented on #91
Yes I'm waiting for another pr though

[2021-03-08 15:28] #85 closed

[2021-03-08 18:03] msramosjr commented on #85
Great job @DarkXanteR ! @Wicpar could you please generate a new release with this fix?

[2021-03-08 18:29] Wicpar commented on #85
done

[2021-03-09 02:35] AndreyZS commented on #34
Good afternoon, you can please a more detailed example of implementation, unfortunately I do not understand how to implement "getAuth" and "security" for jwt ?

[2021-03-09 11:28] AndreyZS opened #93 "JWT authorization"
Good afternoon, please help me implement JWT authorization. Old authorization doesn't work for apiRouting.

An implementation that works in Route
[code]
And the implementation, unfortunately, which is written in [link ](https://github.com/papsign/Ktor-OpenAPI-Generator/issues/34)is not clear to me. Please tell me how to implement ?

[2021-03-15 21:32] msramosjr opened #94 "Validation annotations aren't working after 0.2-beta.14 release"
While trying to migrate from `0.2-beta.13` to `0.2-beta.15`, I found that my validators stopped working. I then tried `0.2-beta.14` and found out that the issue was happening there too.
Apparently, all validators stopped working. I've tested `@MinLength, @MaxLength, @Min, @Max`. They are simply not being applied.

In order to show how to reproduce the problem. I changed `Minimal.kt` example on lin

[2021-03-16 14:14] christiangroth opened #95 "Basic authorization"
Hi,

I'm trying to get a basic auth to work, unfortunately I'm not successful. Here is what I've done so far:

Installed Ktor Authorization feature:

[code]

Implemented my AuthProvider:

[code]

Implemented shortcut extension function for routing definitions:

[code]

Enhanced an existing route to use basic auth:

[code]

The result is, that my /version route exists, is listed in swagger-ui / ope

[2021-03-16 14:55] christiangroth commented on #95
Not sure if the output of /openapi.json is also helpful:

[code]

[2021-03-16 18:01] Wicpar commented on #95
maybe you need to inherit the route provider as well like this:
[code]

Or use a named authenication.

you could also change `.apply { route() }` with `.apply(route)` but in theory it means the same.

[2021-03-16 18:03] Wicpar commented on #95
Ah wait: you used `route.ktorroute` instead of `this.ktorroute`

[2021-03-16 20:36] christiangroth commented on #95
Hi @Wicpar , thanks for your quick reply!

Yeah, because I'm inside AuthProvider and don't have this.ktorRoute there, right?

Not 100% sure I already tried these, but I'll double check it in the office tomorrow.

[2021-03-17 06:06] christiangroth commented on #95
So, unfortunately neither the named authentication nor the inherited provider did change anything. Also changing `.apply { route() }` to `.apply(route)` did change anything.

A last suggestion that came to my mind is regarding the Ktor version. I saw you use 1.3.2 (https://github.com/papsign/Ktor-OpenAPI-Generator/blob/master/gradle.properties). I'm on 1.5.2. Are there any known incompatibilities?

[2021-03-17 14:51] Wicpar commented on #95
Not to my knowledge

[2021-03-17 14:57] Wicpar commented on #95
I have it setup like this:

[code]

[2021-03-17 15:02] msramosjr commented on #94
@Wicpar do you have any thoughts about this?

[2021-03-17 15:13] Wicpar commented on #94
@msramosjr it works perfectly, you just need to handle the response code with a ".throws" clause or it is gonna respond an error 500

[2021-03-17 15:14] DarkXanteR commented on #94
The problem appeared after adding AnnotationTarget.VALUE_PARAMETER to [annotations](https://github.com/papsign/Ktor-OpenAPI-Generator/blob/673ec2118508a16b204858d0fccf052d4c8a563a/src/main/kotlin/com/papsign/ktor/openapigen/annotations/type/string/length/MinLength.kt#L6) and for some reason these annotations became missing in the [annotations list for parameters](https://github.com/papsign/Ktor-Op

[2021-03-17 15:16] Wicpar commented on #94
I remember some issue i had with something like that when i originally implemented it. It has to do with the way annotations are bound to diferent parts depending on what kind they are.

[2021-03-17 16:02] Wicpar commented on #94
@msramosjr done

[2021-03-17 16:02] #94 closed

[2021-03-17 16:25] msramosjr commented on #94
@Wicpar thanks!

[2021-03-18 07:33] christiangroth commented on #95
Found the error! It wasn't on the side of implementing AuthHandler, but on the usage side. Don't want to be too harsh here, but that's kind of bad API or at least really easy to mess up.

Here's the situation before:
![image](https://user-images.githubusercontent.com/2071856/111588494-ed078e80-87c3-11eb-968c-ecfe0a9f94fb.png)

And that's the fixed one:
![image](https://user-images.githubuserconten

[2021-03-18 08:28] christiangroth commented on #95
Got some last minor questions, not sure if I may open separate issues for them, please just let me know:

1) the route is not properly intercepted and authorized, also swagger-ui shows my BasicAuth as part of Available authorizations in the top. However, regarding the route, I see th symbol that it's authorized, but if I click it, the Available authorizations are empty.

Global:
![image](https://u

[2021-03-18 11:09] Wicpar commented on #95
Ah yes Indeed...
There is no way around that in ktor sadly as you cannot stop scope inheritance.
The only way to change that is to change the syntax entirely to use an objection based method instead of fixed type parameters.

For your questions:
1: iirc it worked for oauth, maybe extra definitions are needed for basic auth
2: it could be a regression, can you try an earlier version from a few mont

[2021-03-18 12:20] christiangroth commented on #95
1) Regarding to https://swagger.io/docs/specification/authentication/basic-authentication/ three things are needed:

- an entry in components.securitySchemes (here the name attribute is generated, which should be the key of the entry, see screenshot)
- an entry (empty array) in security with the same name (that's missing)
- an entry in the security array under path.http-verb (the entry is there, b

[2021-03-18 17:22] Wicpar commented on #95
Didn't see 3 you can simply edit the description in the status code class.

1 seems like a regression, i'll look into it
2 is an oversight then i'll look into it as well

[2021-03-18 18:50] Wicpar commented on #95
@christiangroth 2 works properly when i copy your code, the one difference is that i don' t have a `@serialize` annotation so I removed it.

[2021-03-18 18:53] Wicpar commented on #95
@christiangroth what is your jackson configuration for the server ?
[code]

[2021-03-19 05:44] christiangroth commented on #95
We don't use Jackson, but kotlinx-serialization instead. I took the code snippet from #42 to manage DataModel serialization.

[2021-03-19 10:07] Wicpar commented on #95
It looks like the origin of your issue, you'll have to debug that on your own as i know nothing of kotlinx/serialization.

[2021-03-19 10:59] christiangroth commented on #95
Yeah, I also thought that. I'll try to finde some time next week and come back to you / keep this issue updated.

[2021-03-22 08:12] christiangroth commented on #95
So I solved 2 and 3 by fixing my models. The DataModel inheritance was missing, so obviously I did not work for custom types.

If you have any updates on the possible regression regarding 1) within the next days, that would be fine. Thx :)

[2021-03-22 08:15] christiangroth commented on #42
I replaced a tiny detail

[code]

This leads to errors if you maybe miss to add inheritance from DataModel. Otherwise you have missing values in your openapi.json. Not sure if this is what one wants.

[2021-03-30 03:29] hamza-maqsood commented on #71
I am having the same issue, anyone knows a workaround?

[2021-03-30 10:16] Wicpar commented on #71
It actually works properly, the throws catches the exception and handles it as a response as it is no longer considered an error. You can print it in the handler if you need to

[2021-03-30 11:20] rgbrizzlehizzle commented on #71
Oh I had forgotten about this ticket, I'm going to close it since this is expected behavior

[2021-03-30 11:20] #71 closed

[2021-04-12 07:20] sigmanil opened #96 "Http headers should not be case sensitive"
Http headers received using the HeaderParam-anotation are interpreted in a case sensitive manner. This goes against the definition of such headers, which says they are case-**in**sensitive. (https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2)

[2021-04-12 07:28] sigmanil commented on #93
We've managed to get JWT authentication working. First, this function is registered with Ktor:
[code]

Then this code is basically what we needed:

[code]

[2021-04-12 16:04] Wicpar commented on #96
indeed, i have no time in the short term to do it but if anyone is up to do a PR i'll take it.

[2021-05-24 14:15] sigmanil opened #98 "Slight workaround needed for JWT auth to work and validate"
JWT authorization with the bearer scheme needs a slight workaround for the generated openapi document to be valid and working. Here's what we did, in the route setup for the openapi.json document:

[code]

I'm not 100% sure we haven't mis-configured something somewhere, but I _think_ it's a bug in the generation

[2021-05-24 14:16] sigmanil commented on #93
I forgot one thing - in addition to the above, we also needed this workaround: https://github.com/papsign/Ktor-OpenAPI-Generator/issues/98

[2021-05-25 15:10] vitormbgoncalves opened #99 "Swagger-Ui sorted alphabetically"
My schemas in swagger-ui by default are sorted alphabetically. Is there a way for this not to be sorted alphabetically, and to be shown as in class order?

![Screenshot_20210525_120346](https://user-images.githubusercontent.com/51725817/119521884-eb24f300-bd51-11eb-90b6-4715e99350c4.png)

[2021-05-25 15:33] Wicpar commented on #99
The structures used are maps, and thus sort the elements automatically.
If you wish you can do a PR to implement an alternative.

[2021-05-25 21:10] sigmanil commented on #96
@Wicpar  Made an attempt to fix this in the above pull request. I'm not sure I did it the best way possible (to be honest those "builders" almost defeated me), but tests seem to indicate it works at least. Maybe this gets us a bit closer?

[2021-05-26 11:00] Wicpar commented on #96
The builders also almost defeated me, the openapi spec for the more advanced query formats is pure pain but i was happy once it was working.
You unfortunately overshot a bit the scope of the issue by making query params case insensitive as well...

[2021-05-26 11:34] #96 closed

[2021-05-26 11:37] Wicpar commented on #96
Release has been pushed.
The fix was very simple after all, feel free to look at the commit: 46acb38
Sorry that you lost time on this.

[2021-05-26 12:51] sigmanil commented on #96
@Wicpar As long as it's been fixed, I'm happy! :-) Thank you!

[2021-05-30 08:27] Burtan commented on #93
Any plans to put a generic JWTAuthProvider into this library? Help needed?

[2021-05-30 11:16] Wicpar commented on #93
If you want to do a PR i will gladly accept it.

[2021-05-30 12:27] Burtan commented on #93
If I find a good way to make sigmanils example generic, I'll make a PR.

[2021-06-02 12:43] alexbezhan opened #101 "Support inline classes for API routes"
Any chance do support inline classes for params? It would be good to avoid unnecessary allocations
[code]

[code]

[2021-06-06 14:09] Wicpar commented on #101
You can't do inline data classes ?

[2021-06-07 09:45] hmmeral commented on #95
@christiangroth hey, i am also trying to figure out this issue. Is it possible to provide your full example? Thanks

[2021-06-12 19:16] #99 closed

[2021-06-14 13:41] christiangroth commented on #95
@hmmeral I'm not sure what you're missing, so I just copy the complete code again (just removed some internal details) :) Hope that helps.

Definition side:

`
import com.papsign.ktor.openapigen.model.Described
import com.papsign.ktor.openapigen.model.security.HttpSecurityScheme
import com.papsign.ktor.openapigen.model.security.SecuritySchemeModel
import com.papsign.ktor.openapigen.model.security.

[2021-06-14 15:10] choffa opened #102 "Correct way to do subrouting?"
What would be the correct way of doing subrouting with typed parameters?

I am trying to do something similar to [this example(https://ktor.io/docs/locations.html#subroutes) in the Locations-plugin documentation:

[code]

I assumed from the wiki-page "Basic Routing" that `@Path` would do the trick. However, the compiler complains that the `parent` parameter must be annotated with `@PathParam` or `

[2021-06-15 14:53] sigmanil commented on #102
I would have expected it to look something like this:

[2021-06-17 07:07] xupyprmv commented on #42
@christiangroth Can you please share the branch where kotlinx serialization is supported?

[2021-06-23 13:39] y9san9 opened #104 "Why jcenter is required for implementation?"
This artifact located at `jcenter` while it is deprecated.
![image](https://user-images.githubusercontent.com/46930374/123106469-5214f500-d441-11eb-86a5-6f41f1cafcd7.png)

[2021-06-23 19:26] y9san9 opened #105 "Add DSL Marker"
Please provide DSL markers to prevent such cases (title should not be accessible within a `contract` block implicitly

![image](https://user-images.githubusercontent.com/46930374/123156456-fa42b200-d471-11eb-8664-a8bfc89b2afc.png)

[2021-06-24 07:01] xupyprmv commented on #42
I was able to figure out what was wrong in my case. Some element serialization simply didn't work since they are not part of DataModel.

So I replaced function `fun Any?.toJsonElement(): JsonElement {` mentioned in previous posts with next one:

`
@InternalSerializationApi
private inline fun <reified T> toJsonElement(json: Json, value: T): JsonElement =
  when (value) {
    null -> JsonNull
    is

[2021-06-24 07:39] christiangroth commented on #42
Hi @xupyprmv sorry for the later answer and thanks for sharing your solution :) Unfortunately I don't think there is a branch officially supporting kotlinx.serialization, at least I did not found one. But as I am also not actively developing this project I cannot say what the future may bring.

[2021-07-19 10:45] monolidth opened #106 "[Bug] Used dependencies are not longer available in MavenCentral"
Hi,
thanks for the awesome project. I face a huge problem. For me, it looks like that the the following dependencies:
`io.ktor:ktor-jackson:1.3.2`, ` io.ktor:ktor-server-sessions:1.3.2`, `io.ktor:ktor-jackson:1.3.2` are outdated.

## Trace
[code]

Could you please upgrade  `io.ktor:ktor-jackson:1.3.2`, ` io.ktor:ktor-server-sessions:1.3.2`, `io.ktor:ktor-jackson:1.3.2`.

Regards,
William

[2021-07-20 13:28] RamsesGomez opened #107 "Problem with authentication"
We just recently changed from version 0.2-beta.14 to version 0.2-beta.18 and all the sudden the authentication method stop working.

We are using JWT Token to authenticate, now after updating the Authorization: Bearer is not added and when you click on the lock for the authenticated routes nothing shows in the authentication dialog.

![image](https://user-images.githubusercontent.com/69141757/1263

[2021-07-20 13:35] Wicpar commented on #107
it's possible there was a regression

[2021-07-20 13:42] Wicpar commented on #101
they are indee incompatible, if you want to implement them you need to add the logic to `com/papsign/ktor/openapigen/parameters/util/Util.kt`

[2021-07-20 13:43] Wicpar commented on #101
in principle just the isData check could be removed to make it work

[2021-07-20 13:46] RamsesGomez commented on #107
Any suggestion? An idea of what should we change?

[2021-07-20 13:50] Wicpar commented on #107
do you have an implementation I can test to reproduce ?

[2021-07-20 14:02] RamsesGomez commented on #107
when you said "It's possible there was a regression" what do you really mean by this? We are following the exact same example you have with the exception that we have both unauthorized routes and authorized ones.
I Can see this in the log file: Value jwtAuth=[] is unknown
Maybe that helps. Unfortunately I do not have an implementation for you to test.

[2021-07-20 14:05] Wicpar commented on #107
can you send the openapi.json ?
Have you tried the openapi.json on Redoc, it is has a better implementation of the standard.
A commit between *.14 and *.18 changed the definition as it was not coherent with the standard.
The regression would be in the library, as a few PRs have been accepted since.

[2021-07-20 14:16] Wicpar commented on #105
i would accept a PR

[2021-07-20 14:16] Wicpar commented on #106
It did work for me, but i updated the versions nevertheless

[2021-07-20 14:43] Wicpar commented on #107
@RamsesGomez I just tested the JWT test and it has the authorization as expected... I did update a few libraries though, let me wrap that up so you can try.

[2021-07-20 14:52] #106 closed

[2021-07-20 14:53] Wicpar commented on #104
i believe it is fixed with the latest release

[2021-07-20 14:53] #104 closed

[2021-07-20 14:55] Wicpar commented on #98
Is this still relevant ?

[2021-07-20 14:55] Wicpar commented on #107
@RamsesGomez try the latest release and tell me if it works

[2021-07-20 14:58] Wicpar commented on #102
Indeed it does not work like that, but you can use `.route("path")` in the dsl.

[2021-07-20 16:10] y9san9 commented on #104
Great job, thanks for your work 👍

[2021-07-20 16:11] y9san9 commented on #105
Ok, I'll try to do it within the weekend

[2021-07-21 05:31] RamsesGomez commented on #107
@Wicpar Awesome let me try thanks a lot for the swift response

[2021-07-21 05:49] RamsesGomez commented on #107
I tested it but no luck I can see that the new generated json looks like this:

`
"security": [
                    {
                        "entries": [
                            null
                        ],
                        "keys": [
                            "jwtAuth"
                        ],
                        "size": 1,
                        "values": [

[2021-07-21 05:58] RamsesGomez commented on #107
You mentioned you have an example that worked is it possible to see that sample?

[2021-07-21 06:52] RamsesGomez commented on #107
Ok We found the problem... we have a custom serialization module to be able to use kotlin serialization, and the SecurityModel now is a Map and that was the problem, that all DataModel were being serialized differently but now is all good thanks a lot for the support much appreciated

[2021-07-21 09:00] #107 closed

[2021-07-25 21:54] monolidth commented on #106
Works, thank you!

[2021-08-05 19:06] AndreyZS opened #110 "Reusable enums"
Error

[2021-08-25 15:50] #110 closed

[2021-09-07 16:30] kkalisz commented on #98
If I'm correct this was fixed with PR https://github.com/papsign/Ktor-OpenAPI-Generator/pull/88/ (For sure it fixes additional name field in security schema)

I have just tested my existing project hat uses `com.github.papsign:Ktor-OpenAPI-Generator:0.2-beta.20`
Both parts looks good.

[code]

[code]

[2021-10-12 10:08] Szer opened #111 "Enum parser is okay with wrong values"
I'm using enum query params to limit set of incoming values.
Current behaviour allows invalid (outside of enum) values to go through
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/f7e7048c945c65526a38efe655fa60e88d0fc19a/src/main/kotlin/com/papsign/ktor/openapigen/parameters/parsers/converters/primitive/EnumConverter.kt#L13

# Repro
[code]

# Expected
I expect following queries to be valid

[2021-10-12 13:01] Wicpar commented on #111
valueof won't do it...
here is the implementation: https://github.com/papsign/Ktor-OpenAPI-Generator/blob/19e2b92c8f33fda348b45f01a7e9f5e367b09f12/src/main/kotlin/com/papsign/ktor/openapigen/parameters/parsers/converters/primitive/EnumConverter.kt#L8
if you want to change it to use valueOf i will accept the PR

[2021-10-12 14:39] Szer commented on #111
Case sensitivity is not that important

If I passed something which is not null to a query parameter limited to a set of known fields it shouldn't be resolved to null I think. And probably should be validated, cause in open-api-spec it is validated

So in my opinion better version would be
[code]

`.valueOf` is enough, it will enforce correct values

[2021-10-14 08:08] LukasForst opened #112 "Deserialisation of List<UUID> in body fails during runtime"
`post` fails to deserialise `List<UUID>` in body, even though Swagger knows that the correct type is `UUID`. Kotlin says it's `UUID`, however during runtime, it's `String`, which results in `ClassCastException` when accessing the element.

Minimal working example:
[code]
Debugger:
![image](https://user-images.githubusercontent.com/14038818/137276195-b5ef9892-e4c2-4201-9611-2e35bae16fc6.png)

Excep

[2021-10-19 12:47] Szer opened #114 "Can't set name of token parameter or cookie name in SecurityScheme"
# Problem

Let's say I want to obtain cookie security scheme like in [OpenSpec example](https://swagger.io/docs/specification/authentication/cookie-authentication/)

[code]

If I'll create such description with the code:
[code]

It will create such definition in swagger:
![image](https://user-images.githubusercontent.com/10308233/137910670-1b415883-565c-456f-9652-6ec8b2b9d0f2.png)
[code]
As you se

[2021-10-28 09:29] billyjs opened #116 "Add response header to a route"
I need to change the default `Content-Type` response header from `application/json; charset=UTF-8` to just `application/json`. Is this possible i cannot see any way to set response headers in the docs?

[2021-10-28 09:48] #116 closed, assigned to nobody

[2021-11-02 16:48] #114 closed

[2021-11-02 16:48] #111 closed

[2021-11-04 15:24] kkalisz commented on #112
To be honest this is not an open API generator issue. It is mostly related to generic types information erasure at runtime. Jackson can't get generic type information so it is not able to propper parse this type. This will not work for top-level generic objects. But it should be fine for such a case.
`class UuidsList(val values: List<UUID>`

But this will require changing payload from list of uuid

[2021-11-18 14:39] choffa opened #118 "Default values on @QueryParam"
Would it be possible to support default values for optional query params? Either as a value in the `@QueryParam` annotation, or by using a default value from the constructor?

[2021-11-26 18:54] mplokita-figure opened #119 "Overriding a primitive converter (UUID)"
I'm hoping to override the default behavior of zeroing an invalid UUID string. (For example, I might prefer to throw an exception or return null.)

Does this constitute a new feature request?

[code]

[2021-11-29 12:37] Methdogg opened #120 "Serializing collections of different element types is not yet supported"
Why am i getting this error after launching swagger-ui?

ERROR Application - Unhandled: GET - /openapi.json
java.lang.IllegalStateException: Serializing collections of different element types is not yet supported. Selected serializers: [com.papsign.ktor.openapigen.model.schema.DataFormat, kotlin.Boolean, com.papsign.ktor.openapigen.model.schema.DataType]

[2021-11-30 18:31] Wicpar commented on #119
you can use a nullable uuid parameter, it uses 0 as a default if you don't allow it to be null.

[2021-11-30 18:34] Wicpar commented on #118
the obvious way to do it if you are willing to do a one liner is to do something like this, with `params.param` as a nullable type:
`val param = params.param ?: getDefaultValue()`

[2021-11-30 18:35] Wicpar commented on #120
can you get a more detailed stacktrace ?

[2021-11-30 22:05] Methdogg commented on #120
It is not working with Gson. I changed to jackson for serialization then it works. You can close.

[2021-11-30 22:06] Methdogg commented on #120
This error occurs when i use gson fyi.

[2021-12-01 00:03] Wicpar commented on #120
Yes this library was made with Jackson in mind, glad it works now.

[2021-12-01 00:03] #120 closed

[2021-12-01 08:30] choffa commented on #118
Yes, that is what I am doing today. I was more interested in knowing if there is a way to set the `default` field in the schema, as described [here](https://swagger.io/docs/specification/describing-parameters/#default) or if you would be interested in implementing such a feature :)

[2021-12-01 09:47] Wicpar commented on #118
If you want to do a pr to add it i would accept it :)

[2021-12-01 23:31] mplokita-figure commented on #119
@Wicpar Won't that affect the API spec? If we would like to communicate to readers of the spec that the UUID _is not optional_, then is there an alternative solution?

[2021-12-02 09:39] Wicpar commented on #119
You are right, there is no way to throw an error doing that, the correct implementation would be to remove the try-catch and have an exception handler catch and build a proper error response

[2021-12-15 23:01] Groodian opened #121 "API route with Any must be a data class."
The route works fine if i run the application, but if i am trying to run this inside the test the route does not work.

[code]

[code]

Error when running the test:
[code]

[2021-12-16 01:30] Wicpar commented on #121
You must provide a class that can be analyzed by the library to generate the appropriate documentation.
Any doesn't mean anything so it makes no sense to allow that. If you mean it returns nothing you can use Unit. If it returns an empty object create an empty data class.

[2021-12-21 10:53] Groodian commented on #121
Thanks for your answer.
I don't want to return anything, i don't want a parameter.
I replaced Any with UInt, but I still get an error.

``
API route with UInt must be a data class.
``

And I can't find a way to create an empty data class because it needs a parameter for a data class.

[2021-12-21 10:54] DarkXanteR commented on #121
`Unit` not `UInt`

[2021-12-21 11:08] Groodian commented on #121
Oh sorry, now it works.

[2021-12-21 11:08] #121 closed

[2021-12-21 11:31] Groodian opened #122 "Multipart request"
What is the best way to get a list of images as a multipart request?

[2021-12-21 16:53] Wicpar commented on #122
https://github.com/papsign/Ktor-OpenAPI-Generator/wiki/A-few-examples#multipart-request

[2021-12-21 17:32] Groodian commented on #122
Thanks for your reply.
I have already found this but I want to receive a list of images.

Something like this:
[code]

But this don’t work.

[2021-12-21 17:58] Wicpar commented on #122
You can't have a list of file input streams as a part of type image, right now each part must be named and annotated correctly, you can make them optional though with the nullability. You could make an upload of up to N images each called image1 to imageN in the parameters.

[2021-12-21 20:57] Groodian commented on #122
Now I am using a binary request, but I get this error:

[code]

I don’t do anything in the route which is using the binary request.

[2021-12-22 00:44] Wicpar commented on #122
Please identify where the error originates, i don't have the environment to reproduce at the moment.

[2021-12-22 07:51] emirhanemmez commented on #93
@Wicpar I created a  new provider as you mention, but how can i show in swagger-ui? Here is my apiRouting:
`apiRouting {
        tag(object : APITag {
            override val description: String
                get() = "User Methods"
            override val name: String
                get() = "User"

        }) {
            val jwtAuthProvider = JwtProvider()
            auth(jwtAuthProvider)

[2021-12-22 10:54] Groodian commented on #122
[code]

[2021-12-28 10:42] Groodian commented on #122
Do you need more information?

[2021-12-30 14:50] Wicpar commented on #122
Not necessarily, i just don't have the mans to fix that during the holiday season...

[2022-01-19 11:41] Groodian commented on #122
[code]

The error occurs on every file upload expect from fileupload in the tests.

[2022-01-20 13:46] greekZorba opened #123 "@Description annotation doesn't work"
I am trying to use @Description to my schema model.

my version is **0.3-beta.2**

But nothing happen to my schema model.

Am I using @Description annotation incorrectly? Or @Description is working improperly?

this is my code as shown below.

can I get any advice?

[code]

[code]

[code]

[2022-02-08 14:10] HuiiBuh commented on #118
I am really interested in contributing (especially #122), but I am having some problems understanding the setup.

Where exactly does the collection of the schemas happen and how do they get collected. It does not seem to be near the route functions which handle the requests.

I think I am looking for some basic description which describes the work flow involved in creating the OpenAPI file

[2022-02-09 15:41] aphu-figure commented on #119
@Wicpar As far as overriding default converter behavior, I'm assuming this is still a viable solution? Any plans to incorporate this?

https://github.com/papsign/Ktor-OpenAPI-Generator/issues/82#issuecomment-733191825

[2022-02-11 11:13] sigmanil opened #124 "Is there a simple way to split the endpoints of an application in two different openapi-files?"
Is there a simple way to split the endpoints of an application in two different openapi-files? We have some endpoints that are intended for internal use and some for external use.

[2022-02-27 22:48] Wicpar commented on #124
No, the config is unfortunately global, but it would be a nice addition

[2022-02-27 22:50] Wicpar commented on #123
It should work, maybe you can try to annotate the type instead. I'll look into it when i have a bit of time

[2022-02-27 22:52] Wicpar commented on #122
There have been changes in newer versions of ktor that prevent using streams directly on the ktor thread... There is probably a non blocking alternative that is allowed, but the simplest would be to add an array type that just consumes the stream inside the proper io thread like described by the error

[2022-02-27 22:54] Wicpar commented on #119
I'll accept the PR if you make one :)

[2022-03-15 11:36] ash4317 opened #127 "@HeaderParam is adding header to request body instead of request header"
I am using a `DemoClass` as my request class in which I have one header. I am using `@HeaderParam` annotation to do this. Here is my DemoClass -<br>
[code]
On running the app and opening the documentation, I see the header `xyz` in request body instead of being shown as a header. Even when I make a request, I have to add `xyz` inside the request body instead of the header.
![Screenshot (67)](https

[2022-03-16 11:48] #127 closed

[2022-04-14 06:29] Marek00Malik opened #128 "Support for Ktor 2.0.0"
Hey,
When can we count on support for the new Ktor release -> 2.0.0 ?
I'm not able to install the OpenAPIGen plugin.

[2022-04-14 13:15] vladtrc commented on #128
In my opinion such functionality should already be built in...

[2022-04-14 13:35] Marek00Malik commented on #70
what do you mean they won't be documented?
How should we add them?

[2022-04-14 14:02] Wicpar commented on #128
i don't work with Ktor anymore, i can't spare the time for such a rework, however i will accept pull requests...

[2022-04-15 09:04] LukasForst commented on #128
Hey, I forked this repo and wired stuff together to work with Ktor 2.0.0 the fork is here - https://github.com/LukasForst/ktor-openapi-generator - it's also deployed on maven central, so feel free to use that build.

It's not very nice, Ktor removed some stuff this lib relied on (content type handling for example [see this ugly hack](https://github.com/LukasForst/ktor-openapi-generator/blob/3a7cf6

[2022-04-15 09:58] Wicpar commented on #128
@LukasForst if you are willing to maintain the project i can add you as a collaborator, and it would be a good idea to update to the newer version, even if it's a bit hacky

[2022-04-15 10:30] Marek00Malik commented on #128
Hey @LukasForst I'm trying out your fork actually now. The sad part is that there is no support for Location API which looks like the way Ktor is heading (I saw an issue even raised, but it got closed... #70). Are you @LukasForst planning to play with it? I know there is a repo called `kompendium` that is supporting it, but they are not on Ktor 2.0.0 yet.

[2022-04-26 08:24] sigmanil commented on #128
@LukasForst Are you using StatusPages in your applications with your fork? I'm trying out your fork and I seem to have some trouble with statuspages (exception handling) in tests. It's a bit weird, the tests have gone unstable, the status pages set up using the OpenApiGen withApi syntax seem to trigger only sometimes.

[2022-05-04 16:13] LukasForst commented on #128
hey @sigmanil can you try to update to latest Ktor 2.0.1? See https://youtrack.jetbrains.com/issue/KTOR-4187 because that was for example problem in my apps

actually, I'm surprised base ktor status pages work for you in 2.0.0 because according to that Ktor bug, it was broken (and it was broken in my services as well)

[2022-05-04 16:14] LukasForst commented on #128
@Wicpar I'd like to, but definitely not now (busy on other projects, maybe during summer? I'll let you know). However, there're some rumours that JetBrains will work on Ktor Swagger as well (the issue has moved to "in progress") so maybe we will get native support. That would definitely be nice.

[2022-05-04 16:16] LukasForst commented on #128
@Marek00Malik sorry, but right now, I don't have enough time to work on this, I just ported the basic stuff to keep my own service up and running and it is ugly hack anyway. Maybe I will get some time during summer, but unfortunately I can not guarantee anything.

[2022-05-16 18:26] Burtan opened #129 "Enum classes are generated for each usage instead of a schema that can be reused"
Hey,
when you use enum classes in different request classes, for each class the enum is generated independently, instead of just using the single enum class to create a schema.

[2022-06-18 10:42] choffa opened #130 "How to properly indicate a application/x-www-form-urlencoded response"
I was wondering if I could get some guidance in how to indicate that the response media type is `application/x-www-form-url-encoded`. I found the `@FormdataRequest` annotation, but cannot seem to find something equivalent for Response.

I am using Jackson for serialization if that matters.

Thanks

[2022-06-18 17:36] Wicpar commented on #130
Hi, there is no form data response, since i haven't written a serializer for it. However you can use the binary response with your content type to send it, even if it's a bit hacky.

If you wish to add it in a PR, you need to add an implementation of `ResponseSerializer` to `MultipartFormDataContentProvider `

[2022-06-18 17:36] #130 closed

[2022-07-15 11:12] sigmanil commented on #98
This has indeed been fixed :-)

[2022-07-15 11:12] #98 closed

[2022-08-26 02:05] craigberry1 commented on #123
Any chance you've taken a look at this @Wicpar? Seeing same behavior.

[2022-08-29 10:07] LukasForst commented on #128
looks like we're going to get official support after all - https://youtrack.jetbrains.com/issue/KTOR-774 - issue just changed from `Open` to `In Progress`

[2022-09-09 06:46] frynet opened #131 "@Hidden annotation for fields in request / response body"
I've already added annotation `@get:JsonIgnore` for my fields. It works fine for runtime requests / responses.

But I need to hide some fields in swagger doc for not misleading frontend-developers. (Those fields also marked as required).

I've already tried to find any solution for my issue in this repository but not found.

[2022-09-22 16:34] Wicpar commented on #131
There isn't such a feature. In theory it would't be too complicated to add an annotation to condition spec generation.

[2022-09-22 16:45] Wicpar commented on #131
https://github.com/papsign/Ktor-OpenAPI-Generator/blob/8e207b4d700c361fee7fbc490f6c1def47798e60/src/main/kotlin/com/papsign/ktor/openapigen/route/OpenAPIRoute.kt#L47

this is the relevant logic to be eliminated i believe, however there may be side effects if the relevant modules use this for initialization. Maybe a per-module logic may be wiser to allow for modular implementation of the feature.

[2022-11-23 14:56] darkxanter commented on #128
It looks like this library is still relevant as JetBrains makes OpenAPI spec generation a paid feature of IDEA Ultimate.

[2022-11-23 16:39] LukasForst commented on #128
I agree, their solution is far from optimal. I guess we offload serving the UI to their implementation, but honestly even that one is worse, because it fetches js from remote source during runtime...

Anyway, there are now more alternatives in the wild such as https://github.com/bkbnio/kompendium and https://github.com/SMILEY4/ktor-swagger-ui

My [fork](https://github.com/LukasForst/ktor-openapi-g

[2022-11-23 18:28] Wicpar commented on #128
well this library isn't either, so if you want i can link to your repo in the readme for 2.0 compat.